[2016-10-04 03:34] wfs opened #3 "mnist hyperparameter tuning example fails"
Hi. Running through the examples to ensure my environment was working and this example failed ...

---

[code]

---

[2016-10-20 22:18] puneith commented on #3
@wfs We had a bug which was causing this error and has been fixed. Can you please re-try and let us know if it works for you?

[2016-10-23 12:08] gridcellcoder opened #4 "Iris pipeline fails when run locally"
Using the current master branch (https://github.com/GoogleCloudPlatform/cloudml-samples/commit/7a002e7145af59f5f571c012ff1bada8114fa148) and tensorflow version:
[code]
Ubuntu version

[code]
Python version and command:

[code]
I get the following warnings and error.

[code]

[2016-10-24 16:58] chmeyers commented on #4
The call stacks above are not a fatal error.  The "Saving evaluation summary for 5000 step" line implies that it got to the final step and saved a final evaluation.  Check the output/ directory to find it.

What is actually happening:
This sample uses the TF.learn framework to train its model, which creates a queue and fills it with the input to loop through.  When the queue is empty, training is

[2016-10-24 16:58] #4 closed

[2016-10-31 10:30] Threynaud opened #6 "Achieving 100% accuracy with Hypertune"
I started using Hypertune of a dataset of mine using almost the same code than the one in the samples from the documentation.
The distributed version works very well for me but with Hypertune I manage to get an objective value (set to accuracy, like the MNIST sample) of 1.0 = 100% which is quite surprising. Note that I use the same config file that in the example and I get such a high accuracy for

[2016-11-18 14:09] Ood-Tsen opened #7 "Can't train locally"
I visit the website and try following the instruction to start training locally.

But I got an error "Invalid choice: 'local'".

Do I do anything wrong ?

[code]

[2016-11-18 17:46] chmeyers commented on #7
You are likely running an older version of gcloud, as the local option is relatively new.

Please run "gcloud components update"

To see what version of gcloud you have you can run "gcloud --version", I've verified that the latest version (135.0.0) has the local command.

[2016-11-18 17:46] #7 closed

[2016-11-21 04:05] Ood-Tsen commented on #7
Thanks, it fixed after update to new version.

[2016-12-05 23:23] sprakash3 opened #8 "Unable to create model version - Model artifacts size exceeds 1GB"
Hi,
I'm trying to deploy a version of my model with cloud ml. My training artifacts are 3GB.
I get the following error message. I was wondering if there was a way around this.

ERROR: (gcloud.beta.ml.models.versions.create) FAILED_PRECONDITION: Field: version.deployment_uri Error: The total size of files in gs://model-export-bucket/ is 3118066753 bytes, which exceeds the allowed maximum of 1073741

[2016-12-16 20:28] larry-fuy opened #9 "Wrongly identify unsupported TF version"
To check the development environment through [check_environment.py](https://github.com/GoogleCloudPlatform/cloudml-samples/blob/master/tools/check_environment.py) after intalled TF from source, it spits out an error message "ERROR: Unsupported TensorFlow version: 0.12.head (minimum 0.11.0rc0)." The reason is that in the [code](
https://github.com/GoogleCloudPlatform/cloudml-samples/blob/master/too

[2017-01-07 23:57] bw4sz opened #11 "Flowers example config for free comute tier?"
I'm starting out with cloudml and have the free compute tier. I've pulled the docker file, correctly installed and run the flowers tutorial here:

https://cloud.google.com/blog/big-data/2016/12/how-to-train-and-classify-images-using-google-cloud-machine-learning-and-cloud-dataflow

When running
[code]
![capture](https://cloud.githubusercontent.com/assets/1208492/21746190/c3a96b00-d4f1-11e6-99dd-ff

[2017-01-08 00:06] bw4sz commented on #11
Multiple commands were run. Solved.

[2017-01-08 00:06] #11 closed

[2017-01-08 02:18] bw4sz opened #12 "Updates to Flowers tutorial gcloud beta ml syntax."
It looks like there are a few changes to the gcloud beta ml syntax since this tutorial was made.

In sample.sh,

line 6 reads
[code]
should  read

[code]

lines 70 and 76,
gcloud beta ml versions

is now.
gcloud beta ml models versions

also note that USER is never defined in the tutorial, but is required or else the GCS_PATH has an awkward  __ space in it, and dataflow doesn't seem to like the em

[2017-01-09 07:25] joshgc commented on #12
Could you check what version of gcloud you are using with  `gcloud version`?  I have a suspicion that docker image is old?  I just checked on Cloud Shell (gcloud version 138) and didn't need "models" before "versions".

Thanks!

[2017-01-09 15:09] bw4sz commented on #12
Hey Josh,
Thanks for the feedback, i've been working through the tutorial for about a week.  Great stuff.
[code]

I pulled the docker image last week. Should I pull again? It might help explain some of the small changes I've found. Or should i just re-install google cloud on the docker image (its the one under the getting started instructions on the cloudml website.

I am also having trouble with

[2017-01-09 15:32] bw4sz commented on #12
Can you confirm whether users should be working from the :local or :latest tag.

I am up to date with local:

[code]

I can pull :latest, but it gives quite a bit of errors trying to run.

[code]

The clouml getting started guide

https://cloud.google.com/ml/docs/how-tos/getting-set-up

specifies local, which i'm up to date with.

[2017-01-09 15:47] bw4sz commented on #12
For those following along at home @joshgc is correct, the install instructions tag :local, but going to the google container repo and grabbing a more recent build is successful.

[code]

[2017-01-09 15:51] bw4sz commented on #12
Nope, I spoke too soon. That build has some issues.

[code]

Will report back when I find a good build that has updated sdk

[2017-01-09 16:05] bw4sz commented on #12
Forgive the peppering, I can confirm backing off a few days of build is successful.

[code]

[code]

[2017-01-09 16:05] #12 closed

[2017-01-09 16:36] joshgc commented on #12
Hi Ben,

Thanks for all the feedback!  A few thoughts:

- Let me see if I can replicate your datalab error, thats certainly something we don't want to happen
- I'll push a version of the shell script to GitHub with some small fixes (including dropping the now deprecated stream-logs command).

[2017-01-09 17:13] joshgc commented on #11
Glad to hear you got it working.  For future readers, one can change the number of workers used by preprocess.py via the --num_workers flag discussed here:

https://cloud.google.com/dataflow/pipelines/specifying-exec-params

[2017-01-09 17:27] bw4sz commented on #11
Thanks @joshgc,

You mentioned stream is deprecated, what is the proper way to wait for change in status?

[code]

[2017-01-09 17:38] joshgc commented on #11
Hi Ben,

With gcloud 138, submit training is now by default synchronous, and streams
the logs to the shell for you.  What gcloud version are you using?

Josh

On Mon, Jan 9, 2017 at 9:27 AM, Ben Weinstein <notifications@github.com>
wrote:

--
joshgc
:wq

[2017-01-09 17:40] elmer-garduno commented on #8
Hi Surya, let us take a look.

@bhupc

[2017-01-09 19:08] bhupc commented on #8
Hi Surya,
The current model deployment will fail because it expects a maximum of 1GB of total model artifacts.  if you don't mind me asking, what kind of model is this?

One a side note, are you planning to do a batch prediction on the deployed model or were you planning to do online prediction with this model?

[2017-01-09 19:31] sprakash3 commented on #8
Hi,
This is a NER model. The word vectors contribute significantly to the size of the model. The idea is to do an online prediction.

[2017-01-16 19:17] sprakash3 commented on #8
@bhupc I'm curious to know why 1GB was set as a limit. Also is there a way to got around this issue ?

[2017-01-16 19:29] bhupc commented on #8
Thanks for the information. Online prediction is in alpha and 1GB till now
has served well while preventing any abuse of the system. If use cases and
users start demanding for more, yes, we will consider higher limit

The only workaround is to reduce the model size.  Is that something you are
willing to consider?

On Mon, Jan 16, 2017 at 11:17 AM, Surya Sumukh <notifications@github.com>
wrote:

[2017-01-26 20:52] wsxiaoys opened #13 "Supporting for python zip executables in cloud training"
Bazel has native support for generating zip executive now:
https://github.com/bazelbuild/bazel/blob/master/tools/build_rules/py_rules.bzl

It'll be nice if the binary can be directly submitted to ml for training, instead of repackaging with setup.py

[2017-01-30 20:34] puneith commented on #3
Closing this issue due to inactivity.

[2017-01-30 20:34] #3 closed

[2017-02-02 21:21] rajhans opened #14 "Preprocessing for online predictions"
Hello

This is more of a question than a request.. or could be construed as a feature request. We are in the process of setting up google cloud ml for a case where we need online predictions for a text classification problem. From google cloud ml documentation, it seems like making a REST api call to a deployed model might be the way to go.

However, the documentation is unclear on what kind of pr

[2017-02-05 19:27] maysamemadi opened #15 "Missing self in flowers adaptive_wait method"
Looks like there is a small error in the flowers example pipeline module. I know you currently don't accept contributions, so I'll just point it out here.

The [prediction attempt](https://github.com/GoogleCloudPlatform/cloudml-samples/blob/master/flowers/pipeline.py#L329) called from the `adaptive_wait` method as part of `deploy_model` is missing a `self`. As a result, after successful deployment

[2017-02-06 16:45] joshgc commented on #15
Thanks for the heads up, we will get this rolled into the next release

[2017-02-06 19:11] joshgc commented on #15
Just committed the code, so I'll close the issue, but please let me know about anything else you find!

[2017-02-06 19:11] #15 closed

[2017-02-06 19:23] joshgc commented on #9
Hey Larry,

Is this still an issue?  Sorry to get back to you so late, but this should be fixed now.  If you are still the same problem, please let me know what environment you are running and consider posting the output of `pip freeze`.  Thanks so much for playing with our samples!

Josh

[2017-02-06 19:26] joshgc commented on #14
Hey Rajhans!  Thanks for the props, but its definitely a team effort over here =)

I've looped in a preprocessing expert to give you the most up-to-date answer.

[2017-02-06 19:42] rajhans commented on #14
Thanks for the response, Josh! I have changed my code to perform all the processing inside my TF graph for now (so I'm now passing raw strings to the 'inputs'). So while it will definitely be useful to know if it is possible to perform preprocessing before online inference, it is not urgent anymore.

Best,
Rajhans

[2017-02-06 19:45] joshgc commented on #14
Great glad to hear it, this is the approach for flowers/ as well.  I think there are many advantages to just using a TF model if the ops you need are already there.  The serving system can just make many more optimizations based on the tighter assumptions of it only needing to host 1 TF model.

I'll leave this issue open for a couple days, then close it unless I hear otherwise.

[2017-02-06 20:11] jlewi commented on #13
Can you please explain your use case more? Cloud ML only requires you to produce a package that is pip installable.

Running python setup.py is one way to build a python package but its not a requirement. If you can produce an installable pip package using bazel rules that can be uploaded to Cloud ML directly without running setup.py

[2017-02-06 20:32] wsxiaoys commented on #13
Making a *correct* bazel rule to generate a pip installable package is HARD.

Bazel internally generated a python script to handle all the work making import path correct based on its special directory structure. To generating a pip installable package you have to replicate all the work.

Here's example that how tensorflow/tensorflow packaging itself into a pip package.
https://github.com/tensorfl

[2017-02-06 23:36] elibixby commented on #6
Thanks for the report. I need a little more info here. Do you have (1) summaries from during the hptuning job (tensorboard screenshots are fine but you can also add me as a reader to your GCS bucket two and I'll load them up. <my-github-id>@google.com ), and (2) your job config?

[2017-02-07 00:11] toddgardner opened #16 "MNIST hptuning version can't run distributed locally."
I'm having some problems getting hptuning to run successfully; but doing local and --distributed seems to cause an error I haven't quite tracked down. Some elementary googling suggests it might be leaking between checkpoint files, but I've definitely blown away output and can't find anywhere else the distributed workers might be writing checkpoints.

Here's the log:
[code]

[2017-02-07 04:07] jlewi commented on #13
Does [py_binary](https://bazel.build/versions/master/docs/be/python.html) actually generate an executable zip file?

[2017-02-07 05:08] wsxiaoys commented on #13
The default py_binary only generated a wrapper script with .runfiles (which contains all transitive dependencies). While the skylark implementation i [linked](https://github.com/bazelbuild/bazel/blob/master/tools/build_rules/py_rules.bzl) does generate an executable zip file.

[2017-02-07 19:31] toddgardner commented on #16
Ah ha, I figured this one out; I had an unkilled `gcloud beta ml local train` that was still limping around; the master or workers from my new job were talking to my old run, and that's why they were hitting problems. It'd be nice if the gcloud command line would either support multiple invocations or throw a relevant error.

[2017-02-07 19:32] #16 closed

[2017-02-08 20:29] rajivpb commented on #14
Yes, the platform has been designed to replay the same preprocessing that's run before training/batch-prediction (i.e. during the preprocess step) at the time of online prediction.

A "spec" of the preprocessing is saved via:
https://github.com/GoogleCloudPlatform/cloudml-samples/blob/master/iris/preprocess.py#L110

If you follow the steps in the sample and save the metadata and the features in th

[2017-02-09 00:21] rajhans commented on #14
Great -- this is definitely useful and works for now. I have one more question, which I'm filing as a separate ticket.

[2017-02-09 00:21] #14 closed

[2017-02-09 00:22] rajhans opened #17 "Cloud ML sdk for python3"
Is there any timeline on when do you plan to add support for python3 in cloud ml SDK? It appears many other cloud libraries do support python 3 (like storage), and it will be great to have it for the ML sdk as well.

Thanks!

[2017-02-09 00:33] wsxiaoys commented on #13
also it's explicitly stated in https://bazel.build/faq.html#what-about-python

[2017-02-16 18:12] mchirico opened #22 "check_environment.py WARNING: Couldn't find python-snappy."
I had to perform the following commands to get python-snappy installed.

    sudo apt-get install libsnappy-dev
    sudo pip install python-snappy

The Cloud shell appears to be missing this library and package.  It might be helpful to include a note in the instructions.

[2017-02-21 22:33] elmer-garduno commented on #22
Thanks for the feedback. We will look into getting this warning removed from the setup script.

[2017-03-01 20:25] RodenLuo opened #24 "Wrong title for Figure 2 in the tutorial"
I guess the writer forgot to change the title for Figure 2 In [this tutorial](https://cloud.google.com/blog/big-data/2016/12/how-to-classify-images-with-tensorflow-using-google-cloud-machine-learning-and-cloud-dataflow).

[2017-03-07 16:41] dannybtran commented on #8
Was this lowered recently?  I've received this error message but with a limit of 250MiB.

[2017-03-07 22:41] JaeinKim85 opened #26 "check_environment.py error:{ code :400 ~~"
I had to perform the following commands to

ERROR: Unable to list Cloud ML models: {
  "error": {
    "code": 400,
    "message": "Field: parent Error: Please make sure that Google Cloud Machine Learning API is enabled for the project.",
    "status": "FAILED_PRECONDITION",

I don't understand this mean...
Please I would like someone to provide a solution to this problem.

[2017-03-07 22:57] chmeyers commented on #26
This means that the the Machine Learning API is not enabled for your Google Cloud Project.

A Project Owner can enable this API by going to:
https://console.cloud.google.com/apis/api/ml.googleapis.com/overview?project=YOUR_PROJECT_ID

replace YOUR_PROJECT_ID with your project's id.

[2017-03-07 22:57] #26 closed

[2017-03-13 16:12] rhaertel80 commented on #8
This limit has been lowered to 250MiB for the time being. The load time for larger can be high, making it difficult to auto-scale the model in response to increased traffic.

We are working to improve load times and scaling characteristics and will adjust the limit as we make progress.

If you're interested in trying out the system with larger models (and accepting the limitations) we can consider

[2017-03-19 13:37] maclauss opened #27 "Flowers sample.sh needs to be updated for ML Engine GA, and require core/project_id is set"
I cannot submit a training job for the flowers sample anymore, it fails with the following error:
`ERROR: (gcloud.beta.ml.jobs.submit.training) value for field [projectsId] for in collection [ml.projects.jobs] is required but was not provided`

[2017-03-20 15:13] puneith commented on #27
@maclauss We are working on fixing this. Thanks for your feedback.

[2017-03-20 17:03] maclauss commented on #27
@puneith Awesome and thanks for your prompt reply, do you know when we can expect a fix and how we could go around it for the time being?

Thanks and awesome work on these examples!

[2017-03-20 21:34] elibixby commented on #27
@maclauss I think this is just an issue with the sample.sh script and not with the actual training code.

Try
[code]

Where you've set the project id that you want to deploy into and then rerun the script.

[2017-03-22 04:20] joshreuben456 opened #28 "tf.Transform and Google DataFlow Templates Integration"
We are in the process of establishing a Machine Learning pipeline on Google Cloud, leveraging GC ML-Engine for distributed TensorFlow training and model serving, and DataFlow for distributed pre-processing jobs.

 We would like to run our Apache Beam apps as DataFlow jobs on Google Cloud. looking at the [ML-Engine samples](https://github.com/GoogleCloudPlatform/cloudml-samples/blob/master/criteo_t

[2017-03-22 21:33] puneith commented on #24
You mean the loss and accuracy graph? What about its title?

[2017-03-22 21:38] elmer-garduno commented on #28
Thanks @joshreuben456 I'll mark this as a duplicate of https://github.com/tensorflow/transform/issues/6 to followup on single location.

[2017-03-22 21:38] #28 closed

[2017-03-22 23:54] RodenLuo commented on #24
It uses "Figure 2: We retrain only a small section of the original inception graph." But as you said, it is loss and accuracy. "We retrain only a small section of the original inception graph." This sentence is for Figure1.

(Nothing really matters, though. People will understand. )

[2017-03-29 23:28] puneith commented on #24
@RodenLuo Fixed!

[2017-03-29 23:36] #24 closed

[2017-03-30 00:06] puneith commented on #27
Thanks Eli!

@maclauss So if you follow the instructions [here](https://cloud.google.com/blog/big-data/2016/12/how-to-classify-images-with-tensorflow-using-google-cloud-machine-learning-and-cloud-dataflow) and specifically this [link](https://cloud.google.com/ml-engine/docs/quickstarts/command-line) from the blog it will work fine.

[2017-03-30 00:07] #27 closed

[2017-03-31 14:31] slcott opened #31 "No module named util error in flowers sample"
When I try to run the flowers sample I get the following error:

[code]

Seems to be an issue with apache beam...

[2017-03-31 20:38] slcott opened #32 "error in flowers/sample.sh"
I get the following error when I run sample.sh from flowers sample:

[code]

https://github.com/GoogleCloudPlatform/cloudml-samples/blob/master/flowers/sample.sh#L69

should it be `regions us-central1`?

[2017-03-31 20:44] slcott opened #33 "model name error in flowers/sample.sh"
I get the following error:

[code]

at: https://github.com/GoogleCloudPlatform/cloudml-samples/blob/master/flowers/sample.sh#L75

`MODEL_NAME` is `flowers` and `VERSION_NAME` is `v1` but it expects something else instead?

[2017-03-31 22:00] mikehcheng2 commented on #33
Can you inspect gs://yt-8m-158920-ml/slcott/flowers_slcott_20170331_163758/training/model to make sure it exists? That path is based on the JOB_ID, so if you reran sample.sh after noting the regions issue (thanks, we'll fix that up), that path may not be the correct one to the saved model.

[2017-03-31 22:06] slcott commented on #33
Of course. You're totally right:

`flowers_slcott_20170331_163758/`

!=

`flowers_slcott_20170331_145423/`

[2017-03-31 22:06] #33 closed

[2017-04-01 01:39] mikehcheng2 commented on #31
This was an issue with util.py not being sent to Dataflow. This is fixed with the most recent push.

[2017-04-01 01:40] mikehcheng2 commented on #32
Thanks for reporting this, the change will be in soon.

[2017-04-05 17:58] EffePen opened #34 "Missing regularization in flowers model"
This is not exactly an issue, more a missing feature: In the flowers model, the loss function only takes into account data loss and no regularization (such as L2 regularization) is possible except dropout. Currently I am retraining the model with my own dataset and it suffers from overfitting, therefore the addition of regularization might help.
Is this choice due to ML considerations or the regul

[2017-04-05 19:13] joshgc commented on #34
Good point.  We didn't introduce regularization for simplicity (it does OK on 3000 images in flowers/) and to keep consistency with the original [Tensorflow code retrain.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/image_retraining/retrain.py).

I'd love to hear about which regularization you chose and how it performed.  Could you run it against flowers too?

[2017-04-10 19:35] bbarnes52 opened #35 "dangling references to criteo in reddit.py"
criteo is referenced from a couple comments in reddit.py

[2017-04-11 00:17] elmer-garduno commented on #35
Thanks for the report, I will make sure to remove them on our next release of the samples.

[2017-04-11 17:09] tayzlor opened #36 "Running the flowers example hangs / reports its going to take days to process"
I'm trying to execute the flowers preprocessing example in Google Cloud Dataflow.

It reports back that it is going to take over 15 days to complete the pre-processing of the images.

I'm following this example line for line -

https://codelabs.developers.google.com/codelabs/cpb102-txf-learning/index.html?index=..%2F..%2Findex#4

I've also tried to follow along instructions from here and kick-off

[2017-04-12 17:16] tayzlor commented on #36
Closing this - it completed - still seems hugely slow though on a large dataset - I might need to tune some of the parameters

[2017-04-12 17:16] #36 closed

[2017-04-12 17:23] joshgc commented on #36
Sorry about any performance issues you were facing.  Can you share how long it took?  How many images were you processing, if you weren't using the default flowers

[2017-04-13 15:07] bw4sz opened #37 "Flower Tutorial - Python Versions - Windows Impossible?"
What versions of python were used to test the flower tutorial. The pipeline.py imports both apache_beam and tensorflow. On windows, this would not seem possible?

I just updated to python 3.5 64 bit to accommodate tensorflow 1.0

![image](https://cloud.githubusercontent.com/assets/1208492/25010761/ecb842cc-201f-11e7-878e-947f5e04e5a1.png)

but now I find that apache_beam returns

[code]

Looking i

[2017-04-13 18:07] eeveeta opened #38 "$CENSUS_DATA missing in Readme instructions"
-export CENSUS_DATA=census_data	got deleted in the latest Readme commit. For clarity, I think it should be added back.

[2017-04-14 19:13] elibixby commented on #38
I believe we're fixing this by removing it entirely @puneith please close when your CL goes through

[2017-04-14 19:20] elibixby commented on #37
Unfortunately, Cloud ML Engine is only 2.7 and TensorFlow on windows is only 3.5, so if you want to be able to locally validate code that runs in the cloud you're going to have to write Compat code.

For tensorflow_transform the problem is a little more severe; since tensorflow_transform requires both TensorFlow and Beam. Since the Beam SDK submits code by running python locally, it would appear t

[2017-04-15 04:34] puneith commented on #38
@eeveeta Its fixed now.

[2017-04-15 04:34] #38 closed

[2017-04-15 04:35] puneith commented on #35
@elmer-garduno I believe with today's push this is fixed?

[2017-04-15 04:36] puneith commented on #32
@mikehcheng2 Can you pls update if this is fixed.

[2017-04-15 05:30] #35 closed

[2017-04-16 21:37] bw4sz commented on #37
Thanks. Not a problem. For anyone watching, I made a public docker image
that has cloud-sdk, tensorflow, opencv and python.

Can you be pulled here:

gcloud docker -- pull gcr.io/api-project-773889352370/cloudmlengine:latest

On Fri, Apr 14, 2017 at 12:20 PM, Eli Bixby <notifications@github.com>
wrote:

--
Ben Weinstein, Ph.D.
Postdoctoral Fellow
Oregon State University
http://benweinstein.weebly.

[2017-04-17 05:51] danielduckworth opened #40 "Failed training job for reddit"
I'm a beginner with Python and Tensorflow.

I ran the pre-processing script without a problem.

I trained the linear model.

However when I train the deep model, it fails.

Note that I changed:

workerCount: 5
parameterServerCount: 2

Error:
The replica master 0 exited with a non-zero status of 1. Termination reason: Error. Traceback (most recent call last): File "/usr/lib/python2.7/runpy.py", lin

[2017-04-17 16:45] ericsheetz opened #41 "column_to_dtype"
Why is it necessary to only return a tf.string when using a class that has a base of _SparseColumn?

see def column_to_dtype.

It looks like when I introduce the use of layers.sparse_column_with_integerized_feature I'll get a dtype error because my integers are getting cast to strings.

[2017-04-17 17:11] elibixby commented on #41
The way the terminology "sparse" is used in `feature_columns` is synonymous with categorical inputs which need a dense encoding (generally integerizing with hashes, or one hot).

This unfortunately gets confused with the meaning of "sparse" from an inputs perspective, which means "variable length input tensors". So e.g. [`tf.contrib.layers.create_feature_spec_for_parsing`](https://www.tensorflow.o

[2017-04-17 17:38] elibixby commented on #40
@katsiapis

[2017-04-17 17:41] elibixby commented on #40
My suspicion is that you deployed from the wrong directory, and the `setup.py` file was not correctly picked up by `gcloud ml-engine jobs submit training`, and as such the required `tensorflow_transform` dependency was not installed server-side.

Can you confirm the command you used to deploy?

[2017-04-18 21:09] puneith commented on #32
@slcott Its fixed now.

[2017-04-18 21:09] #32 closed

[2017-04-20 19:29] eeveeta opened #42 "__init__.py file missing"
I'm trying to run the tutorial here: https://cloud.google.com/ml-engine/docs/how-tos/getting-started-training-prediction but I'm getting the following error:

`ERROR: (gcloud.ml-engine.jobs.submit.training) [/Users/Downloads/cloudml-samples-master 2/census/trainer] is not a valid Python package because it does not contain an         __init__.py file. Please create one and try again.`

If I navigat

[2017-04-22 17:33] #37 closed

[2017-04-23 07:38] puneith commented on #42
Are you running it from the estimator dir as this line in the tutorial says "cd cloudml-samples-master/census/estimator"?

[2017-04-23 07:39] #31 closed

[2017-04-24 21:36] eeveeta commented on #42
@puneith This was the problem, thank you!

[2017-04-25 02:42] #42 closed

[2017-04-26 21:00] bw4sz opened #44 "Where to change Label Count for flowers pipeline"
I am trying to train a model using the flowers pipeline, but i need to change the count from the default 5 (+1 for no label) to 2. My network will be binary.

If you don't change anything the model will be built successfully, but it will have lots of empty classes in prediction. I am unsure about the effect this will have on the model, but it can' t be very good.

[code]

In model.py, you can chan

[2017-04-27 03:47] bw4sz commented on #44
Followup. Deleting old checkpoints resolved this.

[2017-04-27 03:47] #44 closed

[2017-04-29 23:11] ohadperry opened #45 "PermissionDeniedError: Error executing an HTTP request (HTTP response code 403, error code 0, error message '')"
Ran the job successfully.
Got to the visualization step
ran
[code]
I have logged in with `gcloud` to the right account.

[2017-04-30 18:42] ohadperry commented on #45
@elibixby  @joshgc any idea?

[2017-05-01 15:01] joshgc commented on #45
Hi Ohad,

My guess is that the ACL's on either the bucket (to list objects) or on the files themselves are set up right.  Try these and lemme know if it helps

gsutil ch -u "${YOUR_ACCOUNT}:Rgs://test-ml-ohad
gsutil -m ch -r -u "${YOUR_ACCOUNT}:Rgs://test-ml-ohad/*

[2017-05-01 21:50] elibixby commented on #45
TensorBoard uses [Application Default Credentials](https://developers.google.com/identity/protocols/application-default-credentials)  to authenticate to GCS. So I would ensure you either have:

(a) run:
[code]
Or,
(b) Set,
[code]

And as Josh mentioned ensure that the relevant account has access.

[2017-05-02 18:27] ericsheetz opened #46 "Why is the output layer a value of 25?"
As this is a classification problem with only two classes I would expect the output layer to only have 2 neurons.

Judging by the hidden layers of [100, 70, 50, 25] it looks like the output layer is 25.

[2017-05-02 22:41] elibixby commented on #46
Output layer is always `num_classes`, the final hidden layer is simply the size of the input to the output layer. Traditionally the output layer is not considered one of the "hidden layers" (nor is the input layer, which in this case is `sum(embedding_size * len(categorical_columns) + len(continuous columns))` ), and would not be considered a hyperparameter for the purpose of tuning either since i

[2017-05-02 22:41] #46 closed

[2017-05-16 16:34] elibixby opened #47 "Pin dependencies in installation instructions for reddit_tft"
Reading directly from the Bigquery tables
[code]
We get the following error.

[code]

[2017-05-16 17:15] elibixby commented on #47
This appears to be an error with dependencies not being pinned to an older `tensorflow-transform` version. The solutions is:

[code]

I will submit a `requirements.txt` with all dependencies pinned and update instructions to use that so this doesn't happen again.

[2017-05-16 22:00] elmer-garduno commented on #47
tensorflow-transform==0.1.8 fixes this problem, I think

[2017-05-18 17:08] maysamemadi opened #49 "Flowers sample preprocessing fails to run on cloud"
Running `sample.sh` fails at [preprocessing](https://github.com/GoogleCloudPlatform/cloudml-samples/blob/master/flowers/sample.sh#L40).

The issue seems to be with pickling. The traceback ends with: `pickle.PicklingError: Can't pickle <class 'gtk.__main__.GInitiallyUnowned'>: it's not found as gtk.__main__.GInitiallyUnowned`. I have `apache-beam[gcp]==0.6.0` installed and my `dill` version is 0.2.

[2017-05-18 19:32] elibixby commented on #47
@elmer-garduno bringing your information from the internal thread here: It sounds like there are incompatibilities between the version of apache beam we request installs for on the Dataflow server and the version installed locally. To fix this we'll need to both pin versions client side, and change the versions required in the setup.py for tensorflow-transform?

Is this a sample issue of a tft iss

[2017-05-18 19:33] elibixby commented on #49
Yes I suspect this is related to the version incompatibilities we've seen before. See #47
Let me know if (in a brand new clean virtualenv!!) running `pip install --upgrade tensorflow-tranform==0.1.7` fixes this for you.

[2017-05-19 03:00] maysamemadi commented on #49
Thanks for the quick reply and the fix.

I tried `tensorflow-transform` versions 0.1.7, 0.1.8 and 0.1.9 in clean virtualenvs and all three worked. So based on your comment in #47 I'm guessing the fix was on the Dataflow server side.

Thanks for the awesome samples!

[2017-05-19 14:15] elmer-garduno commented on #47
I have pushed an update to the setup files to be 0.1.9. tensorflow-transform is pinned to 0.6.0 for now will be upgraded to 2.0.0 soon. Sorry for the breakage between 0.1.7 and 0.1.8.

[2017-05-19 17:29] elibixby commented on #47
Great! Thanks Elmer!

[2017-05-19 17:29] #47 closed

[2017-05-20 21:27] Shoshin23 opened #50 "Deploying just the pre-trained checkpoint files to CloudML"
Hey!

I'm trying to deploy just the model checkpoint files to cloud ML. I have the .ckpt file, .meta file and the lablemap.txt file for an inception network trained on the open images dataset. I'm looking for an option to just deploy them. I tried to work on it from the Prediction section of the Flowers post but I'm running into errors.

Any pointers/posts that talk about deploying existing checkp

[2017-05-20 22:07] elmer-garduno commented on #50
The supported deployment artifact is the SavedModel, any reason why you wouldn't use one?

[2017-05-22 02:41] puneith commented on #50
@Shoshin23 Did you try to create the service https://github.com/GoogleCloudPlatform/cloudml-samples/blob/master/census/README.md#create-a-prediction-service by first pushing the model binaries on GCS?

[2017-05-22 22:33] elibixby commented on #50
@Shoshin23 @puneith You'll need to load the checkpoints into a graph and save them as a `saved_model` format. Saved model binaries have different metadata that is missing from a checkpoint (input and output tensors and graph tags).

[2017-05-22 22:33] #50 closed

[2017-06-05 10:13] yash26061981 opened #51 "ImportError: No module named apache_beam"
Hi,

While running the flower sample, i am getting error:

python trainer/preprocess.py \
  --input_dict "$DICT_FILE" \
  --input_path "gs://cloud-ml-data/img/flower_photos/eval_set.csv" \
  --output_path "${GCS_PATH}/preproc/eval" \
  --cloud
Traceback (most recent call last):
  File "trainer/preprocess.py", line 71, in <module>
    import apache_beam as beam
ImportError: No module named apache_b

[2017-06-05 16:46] mnanal commented on #51
I also see the same error while running flower sample.

[2017-06-06 09:14] yash26061981 commented on #51
@elibixby any idea to solve this issue.

[2017-06-06 17:20] mnanal commented on #51
Hey Yash,
I was able to solve using following steps,

1) Read following nice article on virtualenv, this will help in later steps,
https://www.dabapps.com/blog/introduction-to-pip-and-virtualenv-python/?utm_source=feedly

2) Create virtual environment ( Note I created it in cloudml-samples folder & named it env)
titanium-vim-169612:~/cloudml-samples$ virtualenv env

3) Activate virtual env
@titani

[2017-06-08 05:28] yash26061981 commented on #51
Thanks @mnanal . Yes this solves the issue. Just a bit more help. What if i want to use VGG16 instead of inception?

[2017-06-08 22:49] MrRexZ opened #52 "UnboundLocalError: local variable 'summaries' referenced before assignment"
I'm on` Windows 10 64-bit`, with `Python 3.5` and using `Tensorflow 1.10`. I've set the argument to point the training files and evaluation files correspondingly to local as well according to the guidelines.
I was trying to run the `census` sample of `tensorflowcore` folder as a local python program, however, I received an Unbound Local Error in the `_run_eval` method :
[code]
For some reason, an

[2017-06-09 07:34] mnanal commented on #51
sorry, I have no idea on how to use VGG16 instead of inception.  I assume it will involve changing the python code after doing above setup..

[2017-06-09 18:12] MrRexZ commented on #52
Found out the issue, it turns out to be due to the Python version incompatibility.
`self._eval_ops` is of type `dict_values` instead of a list. Converting it to a list solves the problem.

[2017-06-09 18:12] #52 closed

[2017-06-20 12:06] AkhilSinghRana opened #53 "Reddit_TFT Training error"
I am trying to train Reddit dataset on the given trainer but, It gives an error in between. I was facing doing preprocessing as well and turns out the code need tensorflow-transform version 0.1.9 on both local systems as well as cloud. I am guessing the issue is because of the wrong tesnorflow version I am using for training (I am using tensorflow version 1.2 ) which version should I be using to m

[2017-06-20 12:17] puneith commented on #6
@Threynaud  Can you please try out Census sample and see if you are running into same issues.

[2017-06-20 12:19] puneith commented on #8
Closing this issue as @rhaertel80 has very appropriately answered the topic.

[2017-06-20 12:19] #8 closed

[2017-06-20 12:20] puneith commented on #53
@AkhilSinghRana Can you please try this with TF 1.0 and let us know if it works.

[2017-06-20 12:31] puneith commented on #17
@rajhans Cloud ML SDK is now deprecated effective May 2017. You should use  [tf.Transform](https://github.com/tensorflow/transform) and can checkout [samples](https://github.com/GoogleCloudPlatform/cloudml-samples) under criteo_tft and reddit_tft. You can also checkout the [release notes](https://cloud.google.com/ml-engine/docs/resources/release-notes)

[2017-06-20 12:42] AkhilSinghRana commented on #53
@puneith thanks for your response. It seems to be working with tensorflow1.0 but there are still some warnings related to GPU and float32 variables. Will let you know when the task gets completed. Thanks again.

[2017-06-20 13:03] AkhilSinghRana commented on #53
@puneith Also do you have any idea how long it takes for the training to complete on cloud ? Or how many iterations will it continue for ? There is no accuracy report in between will it be shown at last! after complete training is done ? It just shows the Loss and step values. Hope it is working fine

[2017-06-20 18:35] elibixby commented on #53
@AkhilSinghRana Number of steps is a specified value, check the defaults if you did not specify. Closing this for now.

[2017-06-20 18:35] #53 closed

[2017-06-20 18:35] #17 closed

[2017-06-20 20:12] elibixby commented on #6
Closing this as inactive

[2017-06-20 20:12] #6 closed

[2017-06-20 20:41] bw4sz opened #54 "Flowers sample pipeline fails, update to Apache Beam"
I've been using the pipeline.py for several weeks without problem. I was gone for a week and it seems that there has been a change. I am now receiving

`(c31f81dff566e4d3): Workflow failed. Causes: (c31f81dff566e6d5): Unable to bring up enough workers: minimum 1, actual 0. Please check your quota and retry later, or please try in a different zone.
`
when calling
[code]

My repo is here, but its es

[2017-06-20 21:13] bw4sz commented on #54
Just updating, still having trouble with new apache beam.

Troubleshooting
1. pip installed apache-beam --upgrade
2. I grabbed upstream the trainer/preprocess.py and pipeline.py

Current error is

`No handlers could be found for logger "oauth2client.contrib.multistore_file"
running sdist
running egg_info
writing requirements to trainer.egg-info/requires.txt
writing trainer.egg-info/PKG-INFO
writin

[2017-06-21 02:03] bw4sz commented on #54
Reinstalling everything from scratch seem to do it. Something in there going on.

[2017-06-21 02:03] #54 closed

[2017-06-23 23:32] corey219 opened #55 "F tensorflow/core/platform/cloud/http_request.cc:334] Check failed: that->post_body_read_ <= that->post_body_buffer_.size()"
Hi,

While running the reddit sample I am getting the following error:

[code]

Any idea why I am getting this error?

Thanks

[2017-06-24 04:47] dobbysock1002 commented on #55
I was getting this same issue. It seems like it was tied to tensorflow==1.2.0. By downgrading to tensorflow==1.1.0 and tensorflow-transform==0.1.9 as well as updating the reddit query to replace all instances of r'\n+|\x00+' with double backslashes the code was able to run and finish successfully.

[2017-06-24 06:18] elmer-garduno commented on #55
So should r'\n+|\x00+' be r'\\n+|\\x00+'?

[2017-06-24 14:03] dobbysock1002 commented on #55
I'm not sure whether the intended result was for the raw string literal to make it to BQ or not.

I think the goal was to remove actual new line and null characters from the body text in which case running directly in BQ: r'\n+|\x00+' or '\n+|\x00+' seem to produce the same result suggesting the raw string literal prefix isn't necessary. Based on [this documentation](https://cloud.google.com/bigqu

[2017-06-24 14:08] dobbysock1002 commented on #55
Returning to the original issue that was fixed with different package versions, I think it could be really helpful if the readme for each of the examples listed the actual packages and package versions used to run it successfully when testing it.

[2017-06-24 16:58] elmer-garduno commented on #55
Thanks a fix for the unescaped character is on the way.

Regarding the versions I expect this sample to work with tf.tranform 0.1.10 I'll update the setup.py file accordingly.

[2017-06-24 20:19] erichulburd opened #56 "What version is required to run these examples?"
What versions of Tensorflow are these examples made for? If they are not compatible with newer versions of TF, can we update the readme to indicate as such?

I am trying to run:

[code]
in census/estimator.

I receive the following error:

[code]

System info:

[code]
(I installed tensorflow-gpu)

Mac OSx 10.12.5

Am I missing something, or has `feature_column` moved to [contrib/layers](https://ww

[2017-06-24 23:50] puneith commented on #56
@Arbolista Yes we are working on the update to 1.2. In the mean time can you run with 1.0 TF and your fdbk ack.

[2017-06-26 07:21] elmer-garduno commented on #55
The unescaped characters problem has been fixed along with the updated tf.Transform dependency.

[2017-06-26 07:21] #55 closed

[2017-06-26 17:57] dobbysock1002 commented on #55
Everything seems to be running now without issue and it's working with tf.transform 0.1.10. Thank you!

[2017-06-26 18:56] elibixby commented on #56
@Arbolista 1.2 update is published as of yesterday. As of right now `tensorflow==1.2.0` is the only requirement for running the `census` example and we'll be adding a `requirements.txt` to that effect shortly.

[2017-06-28 10:33] suiyuan2009 opened #57 "fail to run reddit_tft example preprocess part on google cloud"
[code]

[2017-06-28 16:33] elmer-garduno commented on #57
Did you specified --output_dir, that seems to be the problem. I'll make sure to make it required.

[2017-06-28 16:36] #51 closed

[2017-06-28 16:37] #49 closed

[2017-06-28 16:48] suiyuan2009 commented on #57
I use
[code]
in `https://github.com/GoogleCloudPlatform/cloudml-samples/blob/master/reddit_tft/README.md`.

[2017-06-28 21:35] elmer-garduno commented on #57
Just by looking at the symptoms is $GCS_PATH defined on your current environment?

In other words were all these statements successful?

PROJECT=$(gcloud config list project --format "value(core.project)")
BUCKET="gs://${PROJECT}-ml"

GCS_PATH="${BUCKET}/${USER}/reddit_comments"

[2017-06-28 21:57] bbarnes52 commented on #56
along the same lines, preprocessing fails for movielens with tensorflow 1.2 (if you run it remotely, with the output dir pointing to a GCS path) ... I think the same is probably true of the other scripts using tensorflow-transform

[2017-06-28 22:03] puneith commented on #56
@bbarnes52 Thanks yes we are in the process of fixing it across the board. Thanks much for your patience while we fix it.

[2017-06-29 02:20] suiyuan2009 commented on #57
[code]

[2017-06-29 04:18] elmer-garduno commented on #57
Thanks for the information by any chance are you running tensorflow version 1.2?

[2017-06-29 05:09] suiyuan2009 commented on #57
[code]
I tried tf 1.1.0, error is same.

[2017-06-29 13:47] puneith commented on #51
@yash26061981 Please take a look at Keras version https://www.tensorflow.org/api_docs/python/tf/contrib/keras/applications/VGG16 and I see coreTF versions as well if you search them.

[2017-06-29 16:20] elmer-garduno commented on #57
Hi @suiyuan2009, I debugged this issue on a clean environment, could you please try the following?

This ensures that the preprocessing code is always executed on a clean directory in case that's the problem.

JOB_ID="reddit_${USER}_$(date +%Y%m%d_%H%M%S)"
PREPROCESS_OUTPUT="${GCS_PATH}/${JOB_ID}"
python preprocess.py --training_data fh-bigquery.reddit_comments.2015_12 \
                     --eva

[2017-06-29 16:50] elmer-garduno commented on #57
One more thing could you please verify if your output bucket is regional?

[2017-06-29 22:46] elmer-garduno commented on #57
Also if you could indicate us if you are running on Mac (OS X)?

[2017-06-30 01:39] elmer-garduno commented on #56
@bbarnes52 we think we have identified the issue when running the tft samples on osx with TF 1.2 will update the post as the fix becomes available.

[2017-07-12 19:48] elmer-garduno commented on #56
@bbarnes52 can you please retry with the latest TF from nightly? The problem should be fixed.

[2017-07-14 12:36] MiguelMonteiro opened #58 "Different workers always process the same batch"
For the census example in the model.input_fn() function for both [tf.train.shuffle_batch()](https://www.tensorflow.org/api_docs/python/tf/train/shuffle_batch) and [tf.train.batch()](https://www.tensorflow.org/api_docs/python/tf/train/batch) unless shared_name is specified both these queues are replicated for all workers and the master.

This causes all workers to process all batches in the same or

[2017-07-17 17:35] elibixby commented on #58
There's a performance trade-off to be had here (which doesn't really matter much as the census dataset is so small, but from a pedagogical perspective...). If `shared_name` is specified input data is must traverse the network several additional times: read as binary to the worker -> enqueued to variable on a param-server -> read as binary to worker -> enqueued as parsed tensor to param server -> r

[2017-07-17 20:14] MiguelMonteiro commented on #58
Thanks for the response, I just wanted to be sure this is how it was working, I am making my own image network based on this code and I want all workers to pitch in for one epoch because the processing is very heavy (3D images). I am using a shared queue with filenames (each file is an image) instead of examples precisely to address the issue you have mentioned.

[2017-07-17 21:47] elibixby commented on #58
@MiguelMonteiro if you find yourself performance constrained, you can also use a shared queue for the filenames, and a local queue for the shuffle_batcher, and split up your epoch between `num_worker` files, then only filenames will traverse the network, but workers will all work on different examples.

[2017-07-18 01:24] elibixby commented on #58
Hahah, Didn't see your earlier comment. Looks like you are already doing exactly what I suggested =).

[2017-07-26 09:17] b01902041 opened #60 "ImportError: No module named nets"
ImportError: No module named nets

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian GNU/Linux 8.8
- **TensorFlow version (use command below)**: 1.2.1
- **Python version**: 2.7
- **Exact command to reproduce**: bash sample.sh
- **Tensorflow Transform environment (if applicable, see below)**:
tensorflow==1.2.1
apache-beam==2.0.0

To obtain the Tensorflow a

[2017-07-26 17:36] elibixby commented on #60
Can you clarify which sample you are trying to run? It's not clear from your report.
Additionally you generally should not manually manipulate your PYTHONPATH.

[2017-08-08 20:51] jcomfort4 opened #61 "(Update canned estimator to 1.3) Monitors are deprecated. Please use tf.train.SessionRunHook."
For problems running the sample code please provide the following information.

### System information
- Windows 10
- Tensorflow Version 1.2.0 (GPU)
- Python Version 3.6

### Describe the problem
I am trying to run the code locally in a jupyter notebook and try some different models (ie. only change the build estimator to a DNNClassifier for example) and I am getting a warning "Anaconda3\envs\tens

[2017-08-08 21:57] elibixby commented on #61
Thanks for the report. Our code currently uses the canned estimator `tf.contrib.learn.DNNCombinedLinearClassifier` which under the hood uses monitors until version 1.3. So you should see these warnings going away when 1.3 is released and we update these samples. @nkashy1  will close out this issue once we update to 1.3.

[2017-08-08 22:53] elibixby commented on #58
@puneith I think for the move into census we should use shared_queue=True most likely.

[2017-08-09 12:47] Stigjb opened #62 "ImportError: No module named tensorflow"
### System information
- **OS Platform and Distribution**: Windows 10 Home 10.0.15063
- **TensorFlow version**: 1.2.0
- **Python version**: 3.5.3
- **Exact command to reproduce**: `gcloud ml-engine local train --module-name trainer.task --package-path trainer/ -- --train-files %TRAIN_DATA% --eval-files %EVAL_DATA% --train-steps 1000 --job-dir %MODEL_DIR% --eval-steps 100`

### Problem description

[2017-08-10 02:04] jcomfort4 opened #63 "Unable to run preprocess.py for reddit_tft -- additional documentation needed"
This tutorial looks awesome and very useful for what I am trying to learn. However, I am trying to run the reddit_tft data preprocessing step and I am encountering some issues that I think could be made more clear in the README documentation.

### System information
- Running via the active cloud shell within the cloud console
- Tensorflow 1.2.1 (~/cloudml-samples-master/reddit_tft$ pip freeze |gr

[2017-08-10 02:57] jcomfort4 commented on #63
I believe that I have gotten it running, but it is taking quite some time to complete -- any sense for how long this should take if run properly on the cloud? The preprocessing has been running for almost 2 hours now which seems quite long even for processing 20GB of data.

[2017-08-10 10:58] Stigjb commented on #62
I have found the cause: gcloud uses different python binaries than the Anaconda environment I'm in, but I can control it with the `CLOUDSDK_PYTHON` environment variable. When it's set to a Python 2.7 executable, the error above occurs -- understandable since Tensorflow is unavailable on Python 2.7 on Windows.
Setting `CLOUDSDK_PYTHON` to a Python 3 executable with Tensorflow installed yields a dif

[2017-08-10 14:35] jcomfort4 commented on #63
Update: The preprocessing script did seem to work succesfully! Now I am wondering, how can I view the .tfrecords that were generated? It would be nice to inspect one of them, but I can't seem to find any thing to look at a sample

[2017-08-10 14:49] jcomfort4 commented on #63
I have tried to iterate through the files in Cloud Datalab and am getting a DataLossError: "corrupted record at 0"

`tmp_file = "gs://${PROJECT}/{USER}/reddit_comments/reddit_20170809_204922/features_train-00001-of-00057.tfrecord.gz"`
`for record in tf.python_io.tf_record_iterator(tmp_file):
  print('here')`

Traceback:
---> 10 for record in tf.python_io.tf_record_iterator(tmp_file):
     11   pri

[2017-08-10 18:29] elibixby commented on #63
@jcomfort4 we suggest using virtualenv. On some machines the default python site-packages directory requires root access. If you use a python virtualenv you will not need sudo. We recommend virtualenv even if you can use default python install to avoid conflicts with other packages, or mangled OS python distributions. It's just good python dev practice in general.

As for the corruption error, it

[2017-08-10 18:35] elibixby commented on #62
@Stigjb Yes `gcloud ml-engine local train` uses your default python binary to run TensorFlow. This means your default python binary should have TensorFlow installed. This *need not be the same binary used by gcloud* and you should *not* manually set the `CLOUDSDK_PYTHON` env var as you discovered. Instead use a tool like virtualenv to set your system's default python to a python 3 installation wit

[2017-08-10 19:45] jcomfort4 commented on #63
@elibixby thank you for the quick response! I guess I was running from the cloud shell, so that seemed to require root. I was on a windows machine and windows is only compatible with python 3 tensorflow while  tensorflow_transform is only compatible with python 2 :( -- I think sudo was then required for the cloud shell.

As for the corruption error, I actually deleted my project/user name from the

[2017-08-10 21:05] elibixby commented on #63
@jcomfort4 the format is proto. So my suggestion would be to actually read them into a graph and print them out if you want to see a few something like this...

[code]

[2017-08-10 21:08] jcomfort4 commented on #63
I have been able to view some examples with the following code, but it seems overly complex and I'm guessing (hoping) that there is a simpler solution that I'm overlooking. I am working on writing my own preprocessing script, but in order to debug it and undrestand what is going on I really need to look at individual records so this would be a tremendous help to understand how I can do this in a d

[2017-08-10 21:09] jcomfort4 commented on #63
wrote this before I saw your comment -- checking yours now, thanks for the help!

[2017-08-10 21:21] jcomfort4 commented on #63
@elibixby So I had to make a few changes to deal with the compressed format and tf.parse_example (no module named parse_examples), and flipping records,keys but even then I had to change it to read_up_to instead of read.  If I didn't change that line, then I got the error: ValueError: Shape must be rank 1 but is rank 0 for 'ParseExample/ParseExample' (op: 'ParseExample') with input shapes: [], [0]

[2017-08-11 13:34] jcomfort4 opened #64 "reddit_tft tokenization"
For the reddit_tft transformation, the tokenization is limited to tf.string_split() which splits on white space. Does tensorflow-transform have any ops to help with some other basic tokenization, such as first converting all text to lowercase and filtering out special characters? I can't find any samples that handle this preprocessing with tensorflow-transform. The [seq2seq](https://github.com/ten

[2017-08-11 17:22] elibixby commented on #64
You should be able to write your own transforms in with Apache Beam, that do whatever tokenization you want, however it's not guaranteed that there will be ops that support parity with your beam transforms in the serving graph. You could define your own ops or make a serving time proxy that does the tokenization. In any case this is a better discussion to have over at https://github.com/tensorflow

[2017-08-11 17:22] #64 closed

[2017-08-11 17:25] elibixby commented on #63
@jcomfort4 read_up_to is actually more effecient, I wrote that code hastily so sorry about the errors. If you really want to read a single example for some reason you can do
[code]

These type of questions are a better fit for Stack Overflow btw, which is pretty aggressively monitored by the TF team, so I'm going to close this if you don't mind.

[2017-08-11 17:25] #63 closed

[2017-08-11 17:32] arthurbarros commented on #62
@elibixby did the fix got pushed ? Running on the same issue here

[2017-08-11 17:33] elibixby commented on #62
The gcloud sdk has a once a week release process. I will try to get it in this weeks release which means it will go out Wednesday. But it may not make it in, in which case it will go out the following wednesday

[2017-08-11 22:08] jcomfort4 opened #65 "census: only train loss and only eval accuracy showing up in tensorboard"
For problems running the sample code please provide the following information.

### System information
- Mac
- 1.2
- Python 2.7

I am following the Tensorflow Census sample and running the ml-engine package locally and inspecting the tensorboard output. For loss I get the training loss, but not the eval loss and for accuracy I get the eval accuracy but not the training accuracy.

Should I be seein

[2017-08-15 18:09] elibixby commented on #65
Going to close this. This is just a general TF question, (how do I request additional metrics) which doesn't really belong here. I'd like to keep this forum for actual issues with the sample. If you post it to StackOverflow I'll be happy to answer it. (You should also probably include relevant code snippets/links to show which sample you're working with and what you want as output).

[2017-08-15 18:09] #65 closed

[2017-08-15 18:15] jcomfort4 commented on #65
Sorry, I understand that this should be restricted to issues with the sample. I was not sure if it was an error in the sample code or not - in Keras, the defaults are to produce both train & acc for both the training data and the evaluation data so I was not sure if this was related to the Monitors being deprecated or just that TF has different defaults (which seems to be the case).

[2017-08-15 18:18] elibixby commented on #65
No problem. By default only loss is logged during training because accuracy requires additional calculation (whereas loss must already be calculated for gradients). If you submit this question to StackOverflow I'll tell you how to log accuracy there ;-)

[2017-08-15 23:29] elibixby commented on #62
Fix is submitted. It will come out with the gcloud release on 8/23. Thanks for your patience.

[2017-08-16 16:55] elibixby commented on #60
Closing due to lack of activity

[2017-08-16 16:55] #60 closed

[2017-08-16 18:20] jcomfort4 commented on #65
Sorry for the delay, but if the offer still stands I posted the a related/inverse question on [stackoverflow](https://stackoverflow.com/questions/45720464/add-custom-loss-to-eval-metric-ops) (how to add loss to eval_metric_ops) as I think that I figured out how to add accuracy for training by creating a tf.summary.scalar('accuracy', accuracy) and this is a similarly related problem that I am havin

[2017-08-16 18:42] jcomfort4 opened #66 ""Skipping evaluation due to same checkpoint""
### System information
- Mac OS, running via ML engine local train or cloud train
- TF 1.2
- Python 2.7

I posted this to [stackoverflow](https://stackoverflow.com/questions/45662282/google-cloud-ml-engine-skipping-evaluation-due-to-same-checkpoint) and got no responses, but the census sample is only running evaluations 1x per epoch even though I have set the min-eval-frequency flag.  Basically, t

[2017-08-18 16:47] josiahdavis opened #67 "No instance key in output of canned estimator census sample"
As other individuals have noted:

Would it be possible to modify the [canned estimator census sample](https://github.com/GoogleCloudPlatform/cloudml-samples/tree/master/census/estimator/trainer) to include the instance key in the output?

This was addressed on [StackOverflow](https://stackoverflow.com/questions/44381879/training-and-predicting-with-instance-keys/44443380#44443380 ) but it's not cl

[2017-08-18 18:26] elibixby commented on #67
@puneith Do you want to bring the code snippet from StackOverflow into the canned estimator example?

[2017-08-18 19:14] josiahdavis commented on #67
That would be amazing. Thank you!

[2017-08-18 19:25] elibixby commented on #67
In the meantime @josiahdavis on StackOverflow do you want to clarify which part of implementing the workaround has you confused?

[2017-08-18 20:43] josiahdavis commented on #67
I was initially trying to communicate on SO... unfortunately, being a new contributor to S.O. I do not meet the reputation threshold to leave a comment :/ and I wasn't sure if it merited it's own question.

I'm struggling with what needs to be done to modify the input functionality. I'm a little confused as to the difference between `json_input_fn()` and `generate_input_fn()` and which modificatio

[2017-08-18 21:04] elibixby commented on #67
`generate_input_fn` is for training or evaluation input functions (note that it reads data from files).
`json_input_fn` is for building a SavedModel binary (note that it uses placeholders).

Since you only need keys in prediction (i.e. for batch prediction or online prediction), you only need to add a `key` placeholder to the tensors expected by, and returned from the `json_input_fn` I'll add this

[2017-08-21 18:58] josiahdavis commented on #67
Thanks so much for your help... I'm still missing something on my end.

#### First I copy-and-pasted the function that you provided to add the key.

[code]

#### Second, I modified the `json_input_fn` as per your example on StackOverflow so that is looks like this:

[code]

#### Third, I replaced the [original return](https://github.com/GoogleCloudPlatform/cloudml-samples/blob/master/census/estima

[2017-08-21 19:25] puneith commented on #67
@elibixby Sounds like a great change to include.

[2017-08-22 13:38] lukashes commented on #53
I have the same problem with tft 0.1.10 and tf 1.3. After reading this issue tried to install tf 1.0, but it does not help me.

`tensorflow.python.training.basic_session_run_hooks.NanLossDuringTrainingError: NaN loss during training.`

[2017-08-22 19:13] elibixby commented on #67
@josiahdavis If you are not training with a `"key"` value in your dataset, you need to restrict the key modification to only prediction mode. So:

[code]

Note that you'll need to add include EVAL as well, if it's in the eval dataset, etc.

[2017-08-22 19:32] josiahdavis commented on #67
OK I changed it so that I am making 'gender' the key. (Not a good key I know, just for illustrating the functionality if the key is in the data). I got everything running without errors, but for some reason the 'gender' key isn't showing up in the output after running the batch prediction, only the "probabilities" and "classes" as before.

[2017-08-22 19:33] josiahdavis commented on #67
Here is the code block that is controlling the export:

[code]

[2017-08-22 19:39] josiahdavis commented on #67
Here is a gist of what I have so far for [model.py](https://gist.github.com/josiahdavis/d3c1de31d83902c049cb5481b15da385) I have not made any changes to the task.py file.

[2017-08-22 19:43] josiahdavis commented on #67
Thanks so much for all your help with this, I really appreciate it.

[2017-08-22 19:47] elibixby commented on #67
Hmmm, I'm not sure that should work. Note that you're using `dict.pop` on the key, meaning there will be no `gender` column available to the internal estimator. So I think this should error out? I would try providing a genuine new feature, "key". I adapted the code in the stack overflow answer to ignore key if it isn't present. Try that.

[2017-08-22 19:49] elibixby commented on #53
@lukashes Could you provide more complete logs in a gist or something? For what it's worth these examples have not yet been updated to TF 1.3 as CMLE does not yet have a TF 1.3 runtime, but 1.3 should be backwards compat with 1.2. Still without seeing more detailed logs the only recommendation I can make is try TF 1.2.

[2017-08-22 20:26] josiahdavis commented on #67
(For the time being) I've been leaving the gender field out of the estimator by commenting it out of `deep_columns` and `wide_columns` lists in the `build_estimator()`. That's why it's not giving me an error (I think).

I think that [Dobbysock's StackOverflow update](https://stackoverflow.com/questions/44381879/training-and-predicting-with-instance-keys) is relevant:

Unfortunately he didn't post

[2017-08-22 21:37] elibixby commented on #67
Looks good, except that one of your `output_alternative` keys is `None` (hence the sort failing), My code was a little confused between core and contrib estimator. For contrib you need to set `output_alternative` for core you need to set `export_outputs`.

[2017-08-23 05:53] josiahdavis commented on #67
Ah, I see. **After making this modification it works.** Thanks so much for your help @elibixby.

[code]

For others' reference, this is what the `model_fn_ops.output_alternatives` prints out as:

[code]

[2017-08-24 18:21] jcomfort4 opened #70 "Document why tf.expand_dims is necessary in parse_csv"
I am looking through the parse_csv function in the census/customestimator/model.py and I'm having trouble understanding why the following code block is needed?

[code]

This appears in the parse_csv function for the canned estimator (in a different manner) but then does not appear in the parse_csv function for the tensorflowcore estimator. I think it would be helpful to have a snippet explaining w

[2017-08-24 20:09] elibixby commented on #70
From 1.2/when canned estimators used `tf.contrib.learn.Estimator`, estimator `model_fns` required Rank 2 tensors. This has been fixed in 1.3/`tf.estimator.Estimator`, so this line will be removed.

[2017-08-24 20:09] #70 closed

[2017-08-25 12:58] jcomfort4 commented on #65
@elibixby I haven't been able to get any responses to this other [question](https://stackoverflow.com/questions/45765996/eval-metric-ops-display-under-family-on-tensorboard) on stackoverflow. I'm looking to expand on adding loss to the eval_metric_ops while plotting them on tensorboard under the same tab/family -- is there any way to do this with eval_metric_ops?

[2017-08-25 13:50] jcomfort4 opened #71 "Run test.csv predictions on SavedModel?"
The census sample has a CSV serving input function and a test.csv file, but it's not clear in the documentation how to actually use the test.csv file to generate a prediction.  I tried creating a prediction service by following hte commands after setting `--export format CSV` when training, however I got the following error "Creating version (this might take a few minutes)......failed.
ERROR: (gcl

[2017-08-29 18:45] elibixby commented on #71
The test.csv file is for the command line.

[code]

Should work. For the actual deployed service, you send CSV lines inside of the JSON you send to the REST service (although batch prediction allows you to pass CSV files directly through GCS.).

This is all in the docs here: https://cloud.google.com/ml-engine/docs/how-tos/online-predict and here
https://cloud.google.com/ml-engine/docs/how-tos/onli

[2017-08-29 18:45] #71 closed

[2017-08-30 20:08] rasmi opened #72 "How to output "allMetrics" in Cloud ML Engine hyperparameter tuning jobs?"
The [docs describe](https://cloud.google.com/ml-engine/reference/rest/v1/projects.jobs#hyperparameteroutput) an `allMetrics` field in the hyperparameter tuning output which contains TensorFlow output values such as loss, accuracy, precision, recall, etc. I found [this](https://github.com/googleapis/googleapis/blob/c07bd5a12e561ebe4e074b218bdd29304cb7a370/google/cloud/ml/v1/job_service.proto#L379)

[2017-08-31 19:22] jcomfort4 opened #73 "Census Custom Estimator: Found more than one metagraph event per run"
For problems running the sample code please provide the following information.

### System information
- Mac OS
- 1.2.1 (to be compatible with ML Engine
- 2.7
- gcloud ml-engine local train --package-path trainer --module-name trainer.task                            --                            --train-files $TRAIN_FILE --eval-files $EVAL_FILE --job-dir $OUTPUT_DIR --train-steps $TRAIN_STEPS  --e

[2017-08-31 20:34] jcomfort4 opened #74 "Census Custom Estimator Distributed Training not working with --num-epochs set"
### System information
- Mac OS submitting gcloud job
- 1.2.0
- 2.7

Command to reproduce:
Running the CUSTOMESTIMATOR below
gcloud ml-engine jobs submit training $JOB_NAME \
                                     --scale-tier STANDARD_1 \
                                     --runtime-version 1.2 \
                                     --job-dir $GCS_JOB_DIR \
                                     --

[2017-08-31 21:01] jcomfort4 commented on #74
For reference, I am trying to see if I can replicate the behavior observed [here](https://stackoverflow.com/questions/45989971/distributed-training-with-tf-estimator-resulting-in-more-training-steps) on the custom estimator code, but obviously not being able to run for a full epoch is not allowing me to repeat this analysis on different distributed training configurations.

[2017-09-05 13:56] rasmi commented on #72
@chmeyers any ideas?

[2017-09-05 16:21] chmeyers commented on #72
allMetrics is currently never populated.  We have not yet put in place a mechanism to filter or paginate them for this response and including them would make the responses too large.

[2017-09-05 18:40] elibixby commented on #74
For future reference, single line tracebacks are impossible to read. Please preserve formatting from wherever you pasted that ;-). I've replicated your issue, and replaced your traceback with mine.

[2017-09-05 18:42] jcomfort4 commented on #74
Sorry! Noted for future reference. Thank you for reproducing and improving my traceback :)

[2017-09-05 18:48] elibixby commented on #74
Fixed in #75 See the PR for my diagnosis =)

[2017-09-05 18:59] elibixby commented on #73
Are you running multiple iterations with the same output dir? If you are manually writing out other metrics in the same directory you will get this error. Estimator takes care of "scoping" it's eval and train metrics in directories (train is in the root, eval is in an `eval/` subdirectory). Need more details from you as this isn't reproducable for us.

[2017-09-05 19:24] jcomfort4 commented on #73
I am deleting the output dir before every run with `rm -rf $OUTPUT_DIR` and I am still getting this error.  I have double (and triple) checked that output has been deleted in its entirety before starting a new run and I still seem to get this warning.  I have even inspected afterwards and I see train in the root and eval/ in subdirectory as you describe which is why I'm confused as to what is goin

[2017-09-11 07:36] fanrice123 opened #76 "Movielens preprocess takes years."
I ran this code on cloud compute engine. The problem is that one cpu is consumed to run the code and not really produced TFRecord. According to the monitor, no file has been written on disk as well since Disk IO is 0 bytes per second. Nearly half of RAM was still available.
I also tried to run this on my machine which result to suspend my machine after few second since all of my RAM had been consu

[2017-09-13 17:23] bw4sz opened #77 "Polling logs failed, flowers pipeline, recent error"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Mac OSX, but running in a virtual env, following the requirements.txt file

- **TensorFlow version (use command below)**:
- **Python version**:
2.7
- **Exact command to reproduce**:

[code]

- **Tensorflow Transform environment (if applicable, see below)**:

To obtain the Tensorflow and Tensorflow Transform envir

[2017-09-15 22:16] shafy commented on #62
@elibixby I am still running into the same problem on MacOS with the SDK version 171.0.0 (it tries to use python 2 instead of 3 when running `gcloud ml-engine local train`). I am using python3's `venv` as my virtual environment. How do I fix this on MacOS?

[2017-09-18 20:39] elmer-garduno commented on #76
Hi @fanrice123, thanks for the feedback let us take a look at what's going on.

[2017-09-18 20:42] elmer-garduno commented on #66
Please take a look at the checkpoint_and_export flag on the Experiment class, it is a recent change so you might need to install tensorflow from source.

https://github.com/tensorflow/tensorflow/commit/9e6ee10fa85053cf4c237970a58f4ca2fe2c497e#diff-3c8e552e2ebc19d47327fa9087ee909eR927

[2017-09-18 20:44] #56 closed

[2017-09-18 20:44] elmer-garduno commented on #57
Please take a look at https://github.com/GoogleCloudPlatform/cloudml-samples/issues/56, this should be fixed.

[2017-09-18 20:44] #57 closed

[2017-09-18 20:45] #9 closed

[2017-09-18 20:45] #22 closed

[2017-09-27 18:43] ericsheetz opened #84 "handling nulls?"
I tried to see what would happen if my data is more sparse than the census sample and a continuous feature like age were null in a prediction test.  Every way in which I try to represent a null results in errors that tell me my modification of instances.json is not valid json.

[2017-09-28 09:16] gary-domain commented on #76
5 hours and counting for me

[2017-10-01 01:40] ericsheetz commented on #84
I've learned that linear models require no nulls.  I'm now experimenting with how to replace the nulls with values that minimize impact.  My models are now training.  It would be nice if the error pointed the user in the direction of engineering their data to not have nulls.

[2017-10-03 20:06] puffler commented on #76
Same for me. I've had the job running locally for about 3 hours now and no results. I also spun up a Dataflow job with 200 workers (and a ton of resources) who ran for 1 hour and 1 minute until it failed with the following error:

Workflow failed. Causes: (e2a3592db2c9f9c3): The Dataflow appears to be stuck. Please reach out to the Dataflow team at http://stackoverflow.com/questions/tagged/google-

[2017-10-03 20:33] elmer-garduno commented on #76
Did you specified the --cloud and --project_id for the pipeline to run on cloud?

[2017-10-03 20:48] puffler commented on #76
Yes, this command was run from Datalab inside the project:
[code]
echo'ing the variables provides these values
$PROJECT: the project I use
$GCS_TRAINING_INPUT_DIR: gs://bucket/folder_with_csv_files
$PREPROCESS_OUTPUT: gs://bucket/some_output_folder

[2017-10-03 20:56] andrewm4894 commented on #67
+1 on this being a great thing to get into the census estimator example out of the box. If you just added a row number field to the training and test data and then incorporated it into the sample that would be really useful.

I've nearly got something working, i think, but of course would be great if this was already backed into the census example :)

[2017-10-03 21:21] elmer-garduno commented on #76
Do you know which version of apache-beam[gcp] is available on the datalab?

[2017-10-03 21:27] puffler commented on #76
`!pip freeze
apache-beam==2.1.1
avro==1.8.2
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0rc1
beautifulsoup4==4.6.0
bleach==1.5.0
brewer2mpl==1.4.1
bs4==0.0.1
cachetools==2.0.1
certifi==2017.7.27.1
chardet==3.0.4
configparser==3.5.0
crcmod==1.7
cycler==0.10.0
datalab==1.0.1
decorator==4.1.2
dill==0.2.6
entrypoints==0.2.3
enum34==1.1.6
funcsigs==1.0.2
functools3

[2017-10-03 21:48] andrewm4894 commented on #67
Ok i got this working from following the advice here. Thanks all.

In case any use to others here is the [model.py](https://gist.github.com/andrewm4894/ebd3ac3c87e2ab4af8a10740e85073bb#file-with_keys_model-py) i am using that is working for me. I had already adapted it for my own problem so the columns etc are different to the census estimator but had not changed much else.

Not when i trained it

[2017-10-04 17:43] puffler commented on #76
I just managed to get it working running locally on 100k samples. It took about 400 seconds.

The Dataflow job is still not working however. Even when running it with 2(!) samples from the ratings csv. Dataflow does nothing and times out after 1 hour.

[2017-10-06 09:20] dexterchan opened #87 "Remote Distributed Training not working"
Remote Distributed with parameter scale-tier = STANDARD_1 failed to run with Google ML engine.
From the log, seem the replicas is cleaning up the cloud storage storing the package after master finish initialization....

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS, High Serra, pushing to Google Cloud ML
- **TensorFlow version (use command below)**: 1

[2017-10-07 18:12] jcomfort4 opened #88 "No handlers could be found for logger "oauth2client.contrib.multistore_file""
For problems running the sample code please provide the following information.

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac
- **TensorFlow version (use command below)**: 1.2.1
- **Python version**: 2.7.13
- **Exact command to reproduce**: See below
- **Tensorflow Transform environment (if applicable, see below)**: 0.1.10

### Describe the problem
I am

[2017-10-22 15:49] luckyapplehead opened #99 ""AttributeError: 'SymbolDatabase' object has no attribute 'RegisterServiceDescriptor'""
For problems running the sample code please provide the following information.

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Google Cloud platform, machine learning engine

- **TensorFlow version (use command below)**:
tensorflow==1.3.0
tensorflow-tensorboard==0.1.8
tensorflow-transform==0.3.1
apache-beam==2.1.1

- **Python version**:
Python 2.7.10

- **Exa

[2017-10-23 14:25] puneith commented on #87
@dexterchan There was a bug introduced due to a change and I have fixed it. In the mean time the STANDARD_1 is taking a longer time for TFCore example and I am looking into it.

[2017-10-23 14:37] puneith commented on #84
@ericsheetz Thanks for reporting. Ack and please feel free to send a PR if you already have a fix.

[2017-10-23 14:37] #84 closed

[2017-10-23 14:39] puneith commented on #62
This is a known issue and we have a fix for gcloud underway. I will respond here when the fix is available in gcloud.

[2017-10-24 17:59] puneith commented on #67
@andrewm4894 Do you want to send a PR?

[2017-10-25 22:36] sstrato commented on #76
Same issue
strace says like below ( and it's repeated)

`
stat("/home/movielens/movielens/share/locale/en_US.ISO8859-1/LC_MESSAGES/messages.mo", 0x7fc941ff84f0) = -1 ENOENT (No such file or directory)
stat("/usr/share/locale-langpack/en_US.ISO8859-1/LC_MESSAGES/messages.mo", 0x7fc941ff84f0) = -1 ENOENT (No such file or directory)
stat("/home/movielens/movielens/share/locale/en_US/LC_MESSAGES/messa

[2017-10-26 07:49] elmer-garduno commented on #76
@aaltay any idea what can be going wrong with this stuck dataflow jobs?

[2017-10-26 15:08] parthmishra commented on #99
What worked for me was manually specifying the version as it wasn't the case that the version of protobuf being used in the interpreter was the same on the server. I'm not sure if you have specified the version explicitly or not but start there.

[2017-10-26 15:11] luckyapplehead commented on #99
Hi, @parthmishra Parthmishra, could you tell me how to manually specifying the version of protobuf used on the server?

[2017-10-26 15:14] parthmishra commented on #99
In your `setup.py` just list the version number afterwards i.e. `protobuf==3.4.0` instead of `protobuf` (or change your `requirements.txt` if you're using that instead) If you did that and it's still not working, I'm not totally sure.

[2017-10-26 15:24] luckyapplehead commented on #99
It works for me. Thanks Parthmishra:)

[2017-10-26 17:50] aaltay commented on #76
@SebastianLshft7 If nothing is processed (even 2 records), it is likely that there is a setup error (e.g. wrong dependencies, failed to install something etc.). Could you look at the stackdriver logs and see if there are any errors. If that does not lead to anything, we can look at the job if you have a dataflow job id.

@sstrato Are you running on Dataflow, or are you running things locally?

[2017-10-26 18:28] puneith commented on #99
Thanks @luckyapplehead

[2017-10-26 18:28] #99 closed

[2017-10-26 21:17] sstrato commented on #76
@aaltay  it's from local runner

[2017-10-26 22:19] aaltay commented on #76
@sstrato How much data you are trying to process in the local runner? Currently local runner (`DirectRunner`) is not optimized and is limited in the amount of data it can process.

[2017-10-26 22:25] sstrato commented on #76
@aaltay I try the movielens 20m model ( about 510MB ) on my local machine. I doubted the runner's capacity is limited to memory size.
If there's size limitation on local runner, it would be better to write some information about that on README file

[2017-10-26 22:55] aaltay commented on #76
Beam DirectRunner for python struggles with inputs > 100MB in general. It does not have README file, but it has a page on Beam website (https://beam.apache.org/documentation/runners/direct/). It does not have an explicit size limit, but we can add a note there about it.

[2017-10-26 22:57] elmer-garduno commented on #76
Thanks @aaltay, I will also add a note on this sample explaining that the DirectRunner should not be used for the large Movielens dataset.

[2017-10-26 23:20] sstrato commented on #76
@aaltay @elmer-garduno  the thing is that this sample using large data set. i think you'd better using 100k movielens model which is just few MB.

[2017-10-26 23:29] elmer-garduno commented on #76
Thanks for the feedback, it should be made more prominent that the local run should use the smaller dataset.

https://github.com/GoogleCloudPlatform/cloudml-samples/tree/master/movielens#local-run

And the cloud version should be used to process the large dataset

https://github.com/GoogleCloudPlatform/cloudml-samples/tree/master/movielens#cloud-run

I'll submit a PR.

+ @puneith

[2017-10-27 03:44] allen-ng opened #101 "ModuleNotFoundError: No module named 'model' in getting start guide"
For problems running the sample code please provide the following information.

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow version (use command below)**: 1.2.0
- **Python version**: Python 3.6.2 :: Anaconda custom (64-bit)
- **Exact command to reproduce**:
[code]

- **Tensorflow Transform environment (if applicable, see below)*

[2017-10-27 05:36] elmer-garduno commented on #76
Thanks @sstrato created https://github.com/GoogleCloudPlatform/cloudml-samples/pull/102/files

[2017-10-28 12:37] luckyapplehead opened #104 "No op named HashTableV2 in defined operations"
For problems running the sample code please provide the following information.

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Google Cloud platform, machine learning engine
- **TensorFlow version (use command below)**:
tensorflow==1.3.0
tensorflow-tensorboard==0.1.8
tensorflow-transform==0.3.1
apache-beam==2.1.1
- **Python version**:
Python 2.7.10
- **Exact

[2017-10-29 02:46] puneith commented on #101
Can you please paste your pwd? Just to make sure you haven't cd-ed into trainer?

[2017-10-29 14:09] allen-ng commented on #101
Thank you, the full sequence is like this:
[code]

[2017-10-29 14:40] puneith commented on #101
Ok I am going to assume you are using Python3 conda env? If that's the case then we have a known bug in gcloud where it uses python2 even if invoked from virtual/conda py3 and I am sure that's using wrong PYTHONPATH. Can you please run this on py2 (conda/virtual) and see if same problem exists.

[2017-10-29 20:10] allen-ng commented on #101
It works fine now with a newly created python 2.7 environment.
Thank you! :)

[2017-10-30 13:36] luckyapplehead commented on #104
I fixed the issue by changing the requirement.txt to:
[code]

and adding install requirement for setup.py as below:
[code]

Then the training process can run successfully. But when I go to the next step, creating the model, the same error occur again...

command I used:
`gcloud ml-engine versions create "v1" --model "movielens" --origin "${MODEL_SOURCE}"`

Error message:
`ERROR: (gcloud.ml-engine.

[2017-10-30 13:57] GuiHuaGaoGao commented on #62
@elibixby should `gcloud ml-engine local train` work with Python 3 on Windows now?
I'm still having the same issue: `ImportError: No module named tensorflow`

[2017-10-30 15:39] #101 closed

[2017-10-31 14:08] puneith commented on #62
The gcloud issue has been fixed to work with Python3. In the mean time please also take a look at this PR which reconciles Python2 and Python3. Let me know if you have any questions.

[2017-11-02 13:33] #62 closed

[2017-11-02 13:38] puneith commented on #104
Can you please try the updated setup.py. Also looking at the command about I am assuming this is movielens you are running?

[2017-11-02 13:43] puneith commented on #76
In addition to @elmer-garduno change we also have made few changes in the versioning and verified it works. It should work for you now so closing this issue. Please feel free to reopen if it doesn't.

[2017-11-02 13:43] #76 closed

[2017-11-02 13:51] puneith commented on #34
Closing this issue because of inactivity and that its not really an issue.

[2017-11-02 13:51] #34 closed

[2017-11-02 13:52] puneith commented on #88
I think I know what the problem is. Let me look into this and get back to you.

[2017-11-02 17:25] luckyapplehead commented on #104
@puneith hi, puneith, could you tell me to updated setup.py with what changes? Yes, I'm running movielens:)

[2017-11-02 19:06] thedriftofwords opened #108 "Update serving input functions"
@nkashy1 For Census sample, update serving input functions from `tf.contrib.learn.InputFnOps` to `tf.estimator.export.ServingInputReceiver` when ML Engine adds support for TF 1.4.

[2017-11-02 23:51] thedriftofwords opened #111 "Update link to docs on repo description"
Please update docs link in the repo description to: [https://cloud.google.com/ml-engine/docs](https://cloud.google.com/ml-engine/docs)

[2017-11-03 08:48] luckyapplehead commented on #104
I update the setup.py to the newest version, and the same error occurs when I run the following command:
`gcloud ml-engine versions create "v4" --model "movielens" --origin "${MODEL_SOURCE}"`

error message:
`ERROR: (gcloud.ml-engine.versions.create) Bad model detected with error:  "Error loading the model: Could not load model: Loading servable: {name: default version: 1} failed: Not found: Op ty

[2017-11-04 15:25] #111 closed

[2017-11-04 15:26] puneith commented on #108
This is already done in this PR https://github.com/GoogleCloudPlatform/cloudml-samples/pull/95. We will merge it when Cloud ML Engine has TF1.4 next week.

[2017-11-04 15:26] #108 closed

[2017-11-04 15:30] puneith commented on #104
@luckyapplehead Since Cloud ML Engine is still on TF1.2 using TF1.4 for training is causing discrepancy between training and prediction. We will have TF1.4 available on Cloud ML Engine very soon so this should go away. In the mean time can you please try training with TF1.2

[2017-11-17 19:15] daltonj commented on #76
Is this resolved for the cloud version? I'm still seeing quite long extraction times for the large dataset.  I have eight jobs that have spent over two hours running on it according to cloud console.

[2017-11-18 06:41] zaffnet opened #116 "generate_input_fn(...) does not have return signature function () -> (features, indices)"
As per line 286 of census/estimator/trainer/model.py, the function `generate_input_fn(...)` should return a function () -> (features, indices). Instead the function is returning (features, labels). Also, the function is not "generating" some `input_fn`.

### System information
- Linux Ubuntu 16.04
- Tensorflow 1.4

[2017-11-22 16:49] jstypka commented on #67
would anyone have a suggestion how to modify the serving function for the case of reading from Example records and not JSON? Here's the default one:

[code]

[2017-11-28 22:13] RemiTurpaud opened #119 "Keras Census - generator_input stuck in the first file chunk"
I may be missing the obvious, but it seems that the generator_input function for the Keras model.py indefinitely iterates over the first file chunk.
The reason is that the function returns a count() iterator within the first iteration of the file read loop:

census/keras/trainer/model.py

[code]
It seems the issue was introduced with the PR #69

Toy example:

[code]

[2017-12-05 22:15] puneith commented on #116
Good catch! I see this is a code documentation issue here. Can you please send a PR. Closing this issue.

[2017-12-05 22:15] #116 closed

[2017-12-06 14:17] zaffnet opened #121 "Change in documentation to fix #116"
I am currently working to fix #116. I will send a Pull Request soon

[2017-12-06 14:22] #121 closed

[2017-12-06 14:23] zaffnet commented on #116
I am currently working to fix the documentation. I will send a PR soon.

[2017-12-06 20:28] happyhuman opened #123 "No iteritems in python3"
I ran this code on my computer. It ran fine using Python 2, but because Python 3 is no longer supporting iteritems() for dictionaries, the following line of code failed.

https://github.com/GoogleCloudPlatform/cloudml-samples/blob/fc74d1f551eff1ea4d219195f048634ff6f7b40d/census/estimator/trainer/model.py#L237

[2017-12-06 20:54] puneith commented on #123
Fixing the issue in the PR.

[2017-12-06 20:54] #123 closed

[2017-12-07 23:36] yanastali opened #124 "Train using a Python executable"
According to https://cloud.google.com/ml-engine/docs/packaging-trainer, the python file used to start the trainer must be a module in a package, specified using a name in the namespace notation for the package (e.g. package_name.module_name").

My project does not follow the recommended trainer project structure due to my dependencies and build system, and cannot be easily packaged. My current wor

[2017-12-07 23:39] yanastali commented on #124
Feature requested here (https://cloud.google.com/support/docs/issue-trackers) instead.

[2017-12-07 23:39] #124 closed

[2017-12-09 04:29] puneith commented on #119
The Keras generator(..) is supposed to be iterating over the data indefinitely, but are you saying the data is indefinitely returned over only first chunk?

[2017-12-09 09:09] RemiTurpaud commented on #119
Precisely!
I don't really have a smart solution though. The simplest would probably be to revert PR #69 and place the whole file reader loop into an infinite loop. So you  read the file over and over...

[2017-12-10 17:59] RemiTurpaud commented on #119
Here is an idea: PR #127

[2017-12-10 19:36] puneetjindal commented on #104
@puneith I am getting this error with TF 1.2. Also raised a support ticket but no help

[2017-12-11 05:23] puneith commented on #104
@luckyapplehead Can you please try the training with 1.2 and then create the model to see if error persists, which means you will need to make sure the setup.py TF1.3 is commented.

[2017-12-11 05:23] puneith commented on #104
@puneetjindal are you getting the error with TF1.2 for training or prediction? If its for prediction can you please confirm you trained using TF1.2?

[2017-12-11 05:57] dsdelhi commented on #104
@puneith My training with TF 1.2 is working fine.My model gets exported to GCS along with variables folder. Issue comes when I go to create version of the model in GCP ML engine. I trained using TF 1.2 only

[2017-12-11 06:15] puneith commented on #13
@wsxiaoys There is a way to generate a .whl in bazel. Do you still need to have support for zip executables?

[2017-12-11 06:16] puneith commented on #40
@danielduckworth Closing this because of inactivity and because we know this works. Please feel free to re-open or file new issue if the instructions are not clear somewhere to cause this issue.

[2017-12-11 06:16] #40 closed

[2017-12-11 06:45] puneith commented on #104
@dsdelhi Can I please get your GCP project_id.

[2017-12-11 06:46] puneetjindal commented on #104
@puneith airbnb-150508

[2017-12-11 19:29] behnamprime opened #131 "criteo_ftf does not run on Google cloud"
For problems running the sample code please provide the following information.

### System information
- **OS (e.g., Linux Ubuntu 16.04)**:
- **TensorFlow version (1.2 to 1.5)**:
- **3.5 or 3.6**:
- **Exact command to reproduce**:
PREPROCESS_OUTPUT_SMALL="${GCS_PATH_SMALL}/criteo_$(date +%Y%m%d_%H%M%S)"
python preprocess.py --training_data "${GCS_PATH_SMALL}/train-40m.txt" \
                     -

[2017-12-18 11:47] Roshankpi opened #133 "Can anyone help to write the Python code using Dataflow to read the CSV file from GCS and load into Big Query table"
For problems running the sample code please provide the following information.

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **TensorFlow version (use command below)**:
- **Python version**:
- **Exact command to reproduce**:
- **Tensorflow Transform environment (if applicable, see below)**:

To obtain the Tensorflow and Tensorflow Transform environment do

[2017-12-18 11:54] Roshankpi commented on #133
I have written the below code to read the CSV file from GCS and load into Big Query
#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may no

[2017-12-19 00:16] beatgeek opened #135 "README.md for MovieLens Clarification"
For problems running the sample code please provide the following information.

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS
- **TensorFlow version (use command below)**: 1.3.0
- **Python version**: 2.7.13
- **Exact command to reproduce**: LOCAL_TRAINING_INPUT_DIR
- **Tensorflow Transform environment (if applicable, see below)**: 0.3.1

To obtain the

[2017-12-19 00:35] beatgeek commented on #135
Realized one issues using (pwd} for my local pathing...

[2017-12-19 00:57] beatgeek commented on #135
Also resolved that the first error "oauth2client.contrib.multistore_file" is due to Dropbox

[2017-12-19 00:57] #135 closed

[2017-12-27 23:17] smikwazir commented on #51
Hey @mnanal - this solution worked for me too thanks

[2018-01-02 22:16] puneith commented on #133
@Roshankpi Thanks for your comments and code. This type of request is best suited for StackOverflow. I would suggest you please move this to SO https://stackoverflow.com/questions/tagged/google-cloud-dataflow

[2018-01-02 22:16] #133 closed

[2018-01-03 19:20] dawu76 commented on #67
@elibixby, @josiahdavis, @andrewm4894 -

Thanks for your prior work on figuring out how to pass through instance keys when using CMLE + canned estimators. The code snippets above, in this [gist](https://gist.github.com/andrewm4894/ebd3ac3c87e2ab4af8a10740e85073bb#file-with_keys_model-py), and the [SO discussion](https://stackoverflow.com/questions/44381879/training-and-predicting-with-instance-key

[2018-01-03 22:20] rasmi commented on #67
@dawu76 It might be helpful if you could clarify which parts of your code use contrib vs. core APIs.

If you are using contrib, I think the issue is in your `json_serving_input_fn` -- I think you want to return a function which returns an `InputFnOps` object (see the gist you linked). Try this:

[code]
---
Also, is there a particular reason you're using `estimator._call_model_fn` to get an `Estima

[2018-01-04 23:29] dawu76 commented on #67
Thanks for the pointers @rasmi.

Perhaps I will need to try an approach based on the 'contrib' APIs rather than the recent 'core' APIs, along the lines of what you shared above. I'll add this to my list of things to try.

I also posted this [gist of my model.py](https://gist.github.com/dawu76/eae1f9f36b77aaf16b465296877cff40) (with only a subset of feature columns displayed) that illustrates more

[2018-01-08 01:52] rasmi commented on #67
@dawu76 You are right about the tf.estimator.export.ServingInputReceiver -- this is another one of those contrib to core migration nuances. See here for some more details, which might help clarify: https://towardsdatascience.com/how-to-move-from-tf-contrib-learn-estimator-to-core-tensorflow-tf-estimator-af07b2d21f34

The method I am familiar with is modifying the model_fn_ops returned by a canned

[2018-01-08 22:24] dawu76 commented on #67
Thanks for the link @rasmi -- that was a very clearly written post that I'm sure will be useful to many others in the coming months as well.

[2018-01-09 00:22] lakshmanok commented on #67
This issue should be closed, I think.

Here's the way to pass in keys:

[code]

Note from https://www.tensorflow.org/api_docs/python/tf/contrib/estimator/forward_features that it takes a tf.estimator

Lak

[2018-01-09 02:37] dawu76 commented on #67
Oh interesting! Thanks @lakshmanok - I guess I should familiarize myself with some of the utilities in `tf.contrib`.

Crossing my fingers that this will 'just work' with `gcloud ml-engine`. My previous hacky approach  (in this [gist](https://gist.github.com/dawu76/eae1f9f36b77aaf16b465296877cff40)), where I was directly modifying the EstimatorSpec's 'predictions' dict, was able to get my instance

[2018-01-10 06:24] gzd2 opened #145 "It doesn't work with modified data"
[adult.data.csv.tar.gz](https://github.com/GoogleCloudPlatform/cloudml-samples/files/1617709/adult.data.csv.tar.gz)
[adult.data.csv.tar.gz](https://github.com/GoogleCloudPlatform/cloudml-samples/files/1617712/adult.data.csv.tar.gz)

For problems running the sample code please provide the following information.

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: L

[2018-01-10 06:35] puneith commented on #145
I see the data looks weird. It won't work because the class label is incorrect.

39, State+AC0-gov,77516, Bachelors,13, Never+AC0-married, Adm+AC0-clerical, Not+AC0-in+AC0-family, White, Male,2174,0,40, United+AC0-States, +ADwAPQ-50K

[2018-01-10 06:52] gzd2 commented on #145
I used LibreOffice Calc to modify data. Modified data looks accurate when I open with LibreOffice Calc, but you are right, it looks wrong when I open with other programs.
Thanks

[2018-01-10 07:46] gzd2 commented on #145
I solved the problem by changing encoding. But now, I deleted 3rd column and I updated model.py as following:

CSV_COLUMNS = ['age', 'workclass', 'education', 'education_num',
               'marital_status', 'occupation', 'relationship', 'race', 'gender',
               'capital_gain', 'capital_loss', 'hours_per_week',
               'native_country', 'income_bracket']
CSV_COLUMN_DEFAULTS = [[0],

[2018-01-10 15:10] n-a-s-s opened #146 "AttributeError: 'SymbolDatabase' object has no attribute 'RegisterServiceDescriptor'"
System information:
- Google cloud shell (debian linux)
- tensorflow==1.4.1
- tensorflow-tensorboard==0.4.0rc3
- tensorflow-transform==0.1.10
- protobuf==3.4.0
- Python 2.7.9

- Exact command to reproduce:
JOB_ID="smallclicks_linear_$(date +%Y%m%d_%H%M%S)"
gcloud ml-engine jobs submit training "$JOB_ID" \
  --module-name trainer.task \
  --package-path trainer \
  --staging-bucket "$BUCKET" \
  --

[2018-01-11 01:10] dawu76 commented on #67
@lakshmanok - It doesn't look like `tf.contrib.estimator.forward_features` resolves this issue. To be more specific, the issue is not just about getting the instance key to appear in the output of `estimator.predict(...)` -- which I was able to do by modifying the EstimatorSpec in my [gist](https://gist.github.com/dawu76/eae1f9f36b77aaf16b465296877cff40) -- but about getting it to appear in the ou

[2018-01-11 01:58] lakshmanok commented on #67
The key should be part of the features, labels returned from the train/eval
input function. But should not be used to create a feature column to pass
onto the Estimator

Lak

On Wed, Jan 10, 2018, 5:10 PM hwu <notifications@github.com> wrote:

[2018-01-11 04:22] dawu76 commented on #67
Hmmm, really trying to understand how this works.

When I look at the `tf.estimator.Estimator` instance returned by the call to `forward_features(estimator, keys)` in [this line](https://github.com/tensorflow/tensorflow/blob/r1.4/tensorflow/contrib/estimator/python/estimator/extenders.py#L238), I see that the updated `model_fn` passed to this `Estimator` calls `verify_keys_and_predictions(features

[2018-01-11 06:13] dawu76 commented on #67
Oh, I think I'm starting to get it.

I was looking at the [DNNClassifier](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/estimator/canned/dnn.py#L192) code just now and belatedly noticed the distinction between `features` and `feature_columns`, the former referring to what's returned by the train/eval input function, as you mentioned, and the latter representing the predict

[2018-01-11 07:15] puneith commented on #145
Don't change the CSV columns because that's the header for the input. Change anything you want to in the INPUT_COLUMNS.

[2018-01-11 12:28] gzd2 commented on #145
Yes, I solved the problem, thanks. But now, I am trying with different dataset. It works when there is 2 different unique class labels. But when there are 9 different unique class labesl, the following error is occurred.

InvalidArgumentError (see above for traceback): assertion failed: [Label IDs must < n_classes] [Condition x < y did not hold element-wise:x (head/ToFloat:0) = ] [[5][1][1]...] [y

[2018-01-13 00:50] beatgeek opened #147 "SyntaxError: invalid syntax"
https://github.com/GoogleCloudPlatform/cloudml-samples/blob/89bb90e14972aeb56102e90c1ab1442b573755c2/movielens/preprocess.py#L168

Seeing this line throw a syntax error with Python3.5.2 - Anaconda

[2018-01-13 01:05] beatgeek commented on #147
Requirement.parse('six==1.10.0'), {'movielens'})

Got it my virtualenv has a version conflict with this package. Duh!

[2018-01-13 01:05] #147 closed

[2018-01-13 02:14] beatgeek opened #148 "Movielens Preprocessing"
https://github.com/GoogleCloudPlatform/cloudml-samples/blob/89bb90e14972aeb56102e90c1ab1442b573755c2/movielens/preprocess.py#L168

This line throws a syntax error as:

`File "preprocess.py", line 168
    def process(self, (user_id, user_ratings),
                      ^
SyntaxError: invalid syntax`

in both local and cloud run

[2018-01-13 02:23] beatgeek commented on #148
seems to be a parenthesis issue with this line, line 328 and 363. After that the script begins to execute so far...

[2018-01-24 14:10] andrewm4894 opened #151 "reddit_tft - beam.FlatMap - invalid syntax"
For problems running the sample code please provide the following information.

*Running on Google Cloud instance n1-highmem-8 (8 vCPUs, 52 GB memory)
*Ubuntu 16.04.1 LTS (GNU/Linux 4.4.0-112-generic x86_64)

$ pip freeze |grep tensorflow
tensorflow==1.3.0
tensorflow-tensorboard==0.1.7

### Describe the problem

When i try run the preprocess.py part of the reddit_tft tutorial i get below error:

[

[2018-01-24 14:14] andrewm4894 commented on #151
Sorry - my bad if i run `python2 preprocess.py ...` its all good.

Just wanted to raise the issue in case anyone else comes across it while assuming its all python3

[2018-01-24 14:14] #151 closed

[2018-01-24 15:27] andrewm4894 commented on #146
I'm getting this as well when running the reddit_tft example.

My google-cloud-ml job id is "reddit_comments_linear_20180124_150717"

[2018-01-24 15:47] andrewm4894 commented on #146
p.s. looks like this might be related and may be some workarounds - just not sure how to apply them here.

https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3967

[2018-01-24 19:58] dwujellyfish opened #152 "census local train --job-dir: Must be of form gs://bucket/object"
I tried the census sample code in GCP compute engine with:
`gcloud ml-engine local train \
    --module-name trainer.task \
    --package-path trainer/ \
    --job-dir $MODEL_DIR \
    -- \
    --train-files $TRAIN_DATA \
    --eval-files $EVAL_DATA \
    --train-steps 1000 \
    --eval-steps 100`

I got an error:

Here is my SDK version
Google Cloud SDK 162.0.1
alpha 2017.07.13
beta 2017.07.13
bq

[2018-01-26 16:28] puneith commented on #152
@dwujellyfish I assume your current MODEL_DIR is a local FS path?

[2018-01-26 16:31] puneith commented on #148
@beatgeek We are working on upgrading this to TF1.4 so these warnings should go away. But in the mean time it looks like it worked for you when you made a change? Appreciate if you can you please send a PR with the fix.

[2018-01-26 16:35] #145 closed

[2018-01-26 16:37] puneith commented on #131
Can you please send me / look at the information from the Dataflow logs. It looks like a potential VM quota issue, but logs will have more information.

[2018-01-26 16:41] puneith commented on #104
@puneetjindal @dsdelhi Sorry for the delay. Are we still seeing this issue on TF1.4 Cloud ML Engine. Can you send me your project_id if you are still seeing the issue. @puneetjindal I don't see your project id in this thread.

[2018-01-26 16:48] dsdelhi commented on #104
I shared the project id but it still exists

On Jan 26, 2018 10:11 PM, "Puneith Kaul" <notifications@github.com> wrote:

[2018-01-26 17:15] dwujellyfish commented on #152
Yes, it is local on a GCP compute engine.
I actually tried to install virtualenv and tensorflow on another compute engine, and it seems to work fine.  So I am assuming may be it was some outdated versions previously.

[2018-01-26 19:07] puneith commented on #152
Okay I am going to close this issue in that case. Please feel free to re-open this one or open another issue if it persists.

[2018-01-26 19:07] #152 closed

[2018-01-26 19:09] puneith commented on #146
@andrewm4894 That definitely looks like its related. Can you please confirm that you used the versions specified in the setup.py and requirements.txt?

[2018-01-26 19:11] puneith commented on #119
@RemiTurpaud Sorry about the delay. I have commented on the PR as well, I will take a look at the code and will get back to you.

[2018-01-26 19:12] n-a-s-s commented on #146
@puneith I use exactly this and it worked

requirement.txt:
tensorflow==1.3.0
tensorflow-transform==0.3.1
protobuf==3.4.0

setup.py:
import setuptools

NAME = 'trainer'
VERSION = '1.0'
TENSORFLOW_TRANSFORM = 'tensorflow-transform==0.3.1'
PROTOBUF = 'protobuf==3.4.0'
TENSORFLOW = 'tensorflow==1.3.0'
if __name__ == '__main__':
  setuptools.setup(name=NAME, version=VERSION, packages=['trainer'],

[2018-01-26 19:12] puneith commented on #13
Closing due to inactivity. Please reopen or file another issue if needed.

[2018-01-26 19:12] #13 closed

[2018-01-26 19:13] puneith commented on #41
@ericsheetz Sorry its been a while. Can you please confirm its still an issue since we have moved everything away from contrib in TF1.4.

[2018-01-26 19:14] puneith commented on #45
@ohadperry Closing this issue. Looks like its solved, but feel free to reopen if it still persists.

[2018-01-26 19:14] #45 closed

[2018-01-26 19:19] andrewm4894 commented on #146
Hmm I'll try with that on Monday to be sure, think might have been tf 1.4

On Fri, 26 Jan 2018, 19:12 n-a-s-s, <notifications@github.com> wrote:

[2018-01-26 19:21] puneith commented on #58
@MiguelMonteiro This code uses tf.datasets in TF1.4 now. Please see https://www.tensorflow.org/api_docs/python/tf/data/TextLineDataset#shard and use that appropriately in the code. Feel free to send a PR as well as I see this as a generic sample feature.

[2018-01-26 19:21] #58 closed

[2018-01-26 19:22] puneith commented on #61
@jcomfort4 We have upgraded Census to TF1.4. Please try using that. Feel free to reopen or file another issue if you still encounter issues.

[2018-01-26 19:22] #61 closed

[2018-01-26 19:25] puneith commented on #66
@jcomfort4 The SO post answers this question. Also we moved Census to TF1.4 which has better & improved API. Please try it out and let us know if you still find the issue. Closing this issue for now.

[2018-01-26 19:25] #66 closed

[2018-01-26 20:02] puneith commented on #74
@jcomfort4 This has been merged with master now. Thanks @elibixby.

[2018-01-26 20:02] #74 closed

[2018-01-26 20:06] puneith commented on #73
@jcomfort4 Are you getting this WARNING in the newest TF1.4 sample and TensorBoard as well?

[2018-01-26 20:10] puneith commented on #72
@rasmi I hope this guidance helps. Closing it for now.

[2018-01-26 20:10] #72 closed

[2018-01-26 20:13] puneith commented on #146
@n-a-s-s Thanks that's good to know. @andrewm4894 I will close this issue for now and if things don't work for you feel free to reopen or file another issue.

[2018-01-26 20:13] #146 closed

[2018-01-26 20:16] puneith commented on #104
@dsdelhi Where did you share it?

[2018-01-29 12:56] andrewm4894 commented on #146
@puneith will try now by changing this file. I'm running it on cloud-ml so i think maybe the setup.py might need to be changed in the sample to reflect what worked for @n-a-s-s

https://github.com/GoogleCloudPlatform/cloudml-samples/blob/master/reddit_tft/setup.py

Just in case is something others might run into.

[2018-01-31 09:15] paneem opened #156 "IN ANDROID OVERLAY PROBLEM"
import android.app.Service;
import android.content.Intent;
import android.graphics.PixelFormat;
import android.graphics.PointF;
import android.os.IBinder;
import android.view.Gravity;
import android.view.MotionEvent;
import android.view.View;
import android.view.View.OnClickListener;
import android.view.View.OnTouchListener;
import android.view.WindowManager;
import android.widget.Button;
import a

[2018-02-01 00:30] dawu76 commented on #67
For future reference, below is a code snippet where I applied @lakshmanok's `tf.contrib.estimator.forward_features` suggestion for passing through instance keys, in case it's helpful for anyone trying to do this with a [tf.estimator.Estimator](https://www.tensorflow.org/versions/r1.4/api_docs/python/tf/estimator/Estimator) in TF 1.4.

(Prior solutions for passing through instance keys, as found ab

[2018-02-01 06:26] andrewm4894 commented on #67
Thanks for sharing, I'm actually trying to figure the same out now myself, based on adapting the Reddit example.

https://stackoverflow.com/q/48543299/1919374

[2018-02-01 12:03] andrewm4894 commented on #67
I tried adding forward_features approach [here](https://github.com/andrewm4894/my-google-cloudml-tensorflow-examples/blob/5f1727c40f2995e008da272fc98fe068130a2d04/reddit_classifier/trainer/task.py#L233)

However i get AttributeError: 'DNNClassifier' object has no attribute 'model_fn'

[2018-02-01 13:08] andrewm4894 commented on #67
@dawu76 thanks for sharing you approach - i tried to add it into my adapted reddit example [here](https://github.com/andrewm4894/my-google-cloudml-tensorflow-examples/blob/master/reddit_classifier/trainer/task.py) but i'm getting this error when trying to train now.

@puneith thanks for commenting on my SO post - any ideas here? I really am starting off with TF so adapting examples is as much as i

[2018-02-02 01:12] beatgeek commented on #148
@puneith  yes my fix worked - I'll send a PR with fix. Apologies for the delay in getting back.

[2018-02-02 14:58] puneith commented on #148
Adam thanks for your work, closing this issue.

[2018-02-02 14:58] #148 closed

[2018-02-02 15:02] puneith commented on #77
@bw4sz Sorry about the delay. So the streaming logs are broken and the job works fine?

[2018-02-02 15:03] puneith commented on #87
@dexterchan This specific issue has been fixed in the code and the separate issue of code taking longer time I will need to verify, so closing this.

[2018-02-02 15:03] #87 closed

[2018-02-02 15:48] puneith commented on #88
@jcomfort4 Can you please look at the [PR](https://github.com/GoogleCloudPlatform/cloudml-samples/pull/157) and confirm it works for you.

[2018-02-02 16:00] puneith commented on #156
@paneem This issue is not relevant for this repo.

[2018-02-02 16:00] #156 closed

[2018-02-02 19:04] puneith commented on #119
@RemiTurpaud Your PR #127  looks good, so closing this. Thanks again!

[2018-02-02 19:04] #119 closed

[2018-02-05 06:05] puneith commented on #41
@ericsheetz Closing this issue due to no activity. Please feel to reopen or create a new issue.

[2018-02-05 06:05] #41 closed

[2018-02-05 06:08] puneith commented on #67
@andrewm4894 Haven't gotten to it yet but in the mean time see PR #158 for Custom estimator. You can always wrap the canned estimator into custom and achieve the desired outcome.

[2018-02-06 17:30] andrewm4894 commented on #67
@dawu76 In your comments for the function `model_fn_extra` you say:

  that in turn returns an EstimatorSpec. When the estimatorSpec's
  `export_outputs` is defined, it updates it to a PredictOutput created
  from the existing `predictions` dict.

  `tf.estimator.Estimator(model_fn=...)` call.

Does this mean i need to somewhere do something to define export_outputs for the estimatorSpec on the in

[2018-02-07 12:41] andrewm4894 opened #159 "Reddit_tft example_id does not appear in prediction outputs from cloud ml"
I can see in the reddit_tft example [here](https://github.com/GoogleCloudPlatform/cloudml-samples/blob/c84c39c0fcd9889718e1b00ef10fdb699ec4b6f0/reddit_tft/trainer/task.py#L36) that there seems to be scope for an `example_id` built into the code. However it does not seem to be being used, is not pulled into the prediction data and hence not served up with predictions in batch or online.

There is a

[2018-02-08 17:14] dizcology commented on #159
@andrewm4894 Thanks for reporting the issue.  I plan to update the reddit_tft to be compatible with tf 1.4 soon, and might be able to incorporate some changes as you suggested.

On the other hand, if you already have a proposed implementation, please feel free to create a PR!

[2018-02-09 11:50] andrewm4894 commented on #159
@dizcology Cool - that would really really be useful...i'm twisting and turning trying to figure it out myself but failing.

My attempt is [here](https://github.com/andrewm4894/my-google-cloudml-tensorflow-examples/tree/master/reddit_classifier)

Specifically [here](https://github.com/andrewm4894/my-google-cloudml-tensorflow-examples/blob/da10dafe879132befe1336049c8e6745b8de0b80/reddit_classifier/

[2018-02-11 07:24] dawu76 commented on #67
@andrewm4894 - regarding whether you need to 'do something to define export_outputs for the estimatorSpec on the initial estimator being passed in': I don't think so -- I looked at my code again, and `model_fn_extra` was the only place where I had to reference `export_outputs`.

Beyond that, I'm afraid I can't offer any concrete suggestions for your issue - just getting my plain-vanilla DNNClassif

[2018-02-12 09:26] girijaravishankar commented on #104
I have the same problem, although I see that GC MLE now uses TF 1.4

[2018-02-12 21:44] dwujellyfish commented on #67
@dawu76 First of all, you are my hero!  I had the same issue and am able to train and save model based on your solution.
However, I had some problems when performing online prediction:
`INSTANCE_KEY_COLUMN = 'instance_key'
INPUT_COLUMNS = [
	tf.feature_column.numeric_column(INSTANCE_KEY_COLUMN),
       ....]
(key_col, ....) = INPUT_COLUMNS
`
Your code is here:
`def model_fn_extra(estimator):
	def

[2018-02-12 22:07] andrewm4894 commented on #67
Found some threads that suggest maybe wrap it in tf.identity()

https://stackoverflow.com/q/37076208/1919374
https://stackoverflow.com/q/39307108/1919374

On Mon, 12 Feb 2018, 21:44 dwujellyfish, <notifications@github.com> wrote:

[2018-02-13 13:25] girijaravishankar commented on #104
I solved this by deploying with an explicit argument
 --runtime-version 1.4 did it for me.

[2018-02-13 14:25] dwujellyfish commented on #67
@andrewm4894 I have now wrapped the placeholder within the identity:
[code]
but I am getting this error message:

  "error": "Prediction failed: Error during model execution: AbortionError(code=StatusCode.INVALID_ARGUMENT, details=\"Identity:0 is both fed and fetched.\")"
}

[2018-02-13 14:43] andrewm4894 commented on #67
@dwujellyfish looks like that's not it so...

is your instance key in `deep_columns` by any chance?

[2018-02-13 14:52] dwujellyfish commented on #67
@andrewm4894 it is not in the deep column

[2018-02-13 18:58] dizcology commented on #159
@andrewm4894 Thank you for all the useful information!  Let me know if you were able to make more progress and how I might be able to help.  Meanwhile I will get started on updating the reddit_tft sample to tf 1.4 soon.

[2018-02-13 22:30] andrewm4894 commented on #159
I'm afraid I'm still stuck on the error i mentioned, no idea how to even debug it :(

[2018-02-15 04:09] dawu76 commented on #67
@dwujellyfish - I ran into the same 'identity ... is both fed and fetched' issue in my `json_serving_input_fn` (but not my `csv_serving_input_fn`, since the CSV input records consist of just a single string Tensor field).

This is what my `json_serving_input_fn` looks like -- I had to pass separate 'inputs' and 'features' dicts to the `tf.estimator.export.ServingInputReceiver` call, with the `tf.i

[2018-02-15 19:25] andrewm4894 commented on #67
My strange error seemed to be related to parameter server and worker communications (h/t to @dawu76  for [this one](https://github.com/tensorflow/tensorflow/issues/11549)).

So dropped the type of the job from CUSTOM to BASIC in my config.yaml and i'm now getting a more informative error (below).

My updated code is [here](https://github.com/andrewm4894/my-google-cloudml-tensorflow-examples/tree/m

[2018-02-15 19:26] andrewm4894 commented on #159
Simplified things a bit for testing - set it to BASIC set up and got more informative error - see [here](https://github.com/GoogleCloudPlatform/cloudml-samples/issues/67#issuecomment-366034596)

[2018-02-16 22:46] yizhouuuuu opened #161 "Issues importing tft on mlengine"
Whenever I try to import tensorflow-transform on an mlengine job I get the following issue:

Traceback (most recent call last):
  File "/usr/lib/python2.7/runpy.py", line 162, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/usr/lib/python2.7/runpy.py", line 72, in _run_code
    exec code in run_globals
  File "/root/.local/lib/python2.7/site-packages/trainer/task.py", line

[2018-02-18 16:31] dawu76 commented on #67
@andrewm4894 - I also encountered this `ValueError: keys should be exist in features. Key ... is not in features dict` issue when trying to get `forward_features` to work.

IIRC my issue was that the instance key wasn't among the fields returned by my `input_fn` (defined almost exactly like the [input_fn](https://github.com/GoogleCloudPlatform/cloudml-samples/blob/master/census/customestimator/tra

[2018-02-19 19:02] dwujellyfish commented on #67
@dawu76 That is precisely why it caused my problem.  I tried your json_serving_input_fn and it works! Thanks a lot!

[2018-02-20 21:55] nkashy1 commented on #161
Hi @yizhouuuuu ,

I will have a look at this later this week, but in the mean time, have you tried out one of our tf-transform-related samples?

I would be curious to know if you get the same error trying out the [criteo_tft](https://github.com/GoogleCloudPlatform/cloudml-samples/tree/master/criteo_tft) sample (cloud run with small dataset).

[2018-02-20 22:44] yizhouuuuu commented on #161
Sorry, I was just issues with versioning, I've fixed it

[2018-02-20 22:44] #161 closed

[2018-02-28 01:22] nkashy1 opened #163 "Add package installation instructions to "Setup" section in scikit-learn online prediction notebook"
Right now, users have to look through the `import` statements in the cells to figure out what packages they should install in their Python environment. It would be more convenient if the dependencies were stated explicitly up front.

We should also consider adding a `requirements.txt`.

[2018-03-02 14:32] irfanalee9 commented on #51
Hi Everyone,
I did solve this problem by doing pip install apache-beam on command prompt in C:\Users\AwesomeUser\AppData\Local\Continuum\Anaconda2\Lib\site-packages and then restarted intellij and viola it worked.
PS: I use windows system, love the challenge

[2018-03-04 20:38] lakshmanok commented on #67
Folks, I finally got around to writing a guide on how to do this.  Hopefully, the two caveats at the end of the post explain the problems that people have been running into when using forward_features, and how to work around them:

https://medium.com/@lakshmanok/how-to-extend-a-canned-tensorflow-estimator-to-add-more-evaluation-metrics-and-to-pass-through-ddf66cd3047d

https://github.com/GoogleClo

[2018-03-05 15:18] andrewm4894 commented on #67
Sweet - thanks a million @lakshmanok - going to have a crack at this again this week and if i can get it working on the Reddit example i will do a PR there maybe.

Cheers

[2018-03-05 22:46] andrewm4894 commented on #67
@lakshmanok i tried to implement what you suggested as part of a simplified reddit example.

[Here](https://github.com/andrewm4894/my-google-cloudml-tensorflow-examples/tree/master/reddit_classifier_basic) is my repo. [This](https://github.com/andrewm4894/my-google-cloudml-tensorflow-examples/blob/6a8bde9f29394d209e43d190e40049ad6e0f9ff8/reddit_classifier_basic/trainer/task.py#L263) is where i tri

[2018-03-06 10:14] andrewm4894 commented on #67
So i found reference to this error [here](https://github.com/tensorflow/transform/issues/36) which suggests using tft 0.3.

And [this](https://github.com/tensorflow/tensorflow/issues/16456) where it was suggested to use tf 1.5.

So i think part of what might be going on is tf and tft not being compatible which is something i have read [here](https://github.com/GoogleCloudPlatform/training-data-ana

[2018-03-06 18:32] nkashy1 opened #165 "Add link to cloudml-template in top-level README"
@ksalama : Do you want to take this on?

@thedriftofwords : Can you help Khalid with this? Are we going to refer to the template in the ML Engine docs?

[2018-03-06 20:30] nkashy1 commented on #165
Resolved by https://github.com/GoogleCloudPlatform/cloudml-samples/pull/167

[2018-03-06 20:30] #165 closed

[2018-03-06 21:44] thedriftofwords commented on #165
@nkashy1 Yes, this week I will discuss with the other TWs where we'd like to add it.

[2018-03-07 04:02] thedriftofwords opened #168 "Add optional results verification step to scikit-learn online prediction notebook"
The XGBoost notebook has a good "optional step 6" part to verify the results and compare the predictions from the local model with those from the online one. Can we modify that and add it to the scikit-learn notebook? (@nnegrey)

[2018-03-07 15:45] nnegrey commented on #168
Yep! Will get that updated today.

[2018-03-07 19:17] nnegrey commented on #168
https://github.com/GoogleCloudPlatform/cloudml-samples/pull/169

[2018-03-07 19:17] #168 closed

[2018-03-07 19:17] nnegrey commented on #163
https://github.com/GoogleCloudPlatform/cloudml-samples/pull/169

[2018-03-07 19:17] #163 closed

[2018-03-11 23:36] andrewm4894 commented on #159
have the bones of an example with key in predictions here: https://github.com/andrewm4894/my-google-cloudml-tensorflow-examples/tree/master/reddit_score

It does not use tft though (i gave up) and i still need to figure out getting the comments into an embedding feature.

[2018-03-11 23:43] andrewm4894 commented on #67
@lakshmanok have been following your approach and got it working.

However i've been trying to follow another post of yours [here](https://towardsdatascience.com/how-to-do-text-classification-using-tensorflow-word-embeddings-and-cnn-edae13b3e575) to get the reddit comments into a bow for wide and embedding for deep.

Am pretty sure i followed things exactly but am getting an error:

[code]

[Here]

[2018-03-14 17:30] bobleegogogo opened #175 "Error using Object Detection API for Google cloud ML training"
For problems running the sample code please provide the following information.

### System information
-  Ubuntu 16.04)
- TensorFlow version 1.6 CPU
- python version 3.5:

### Describe the problem
Hello guys I am using Google Object Detection API and training my building detection model in Google cloud ML platform. I follow the example and build my model, after running for several steps like(1000)

[2018-03-14 18:09] dizcology commented on #159
@andrewm4894 thanks!

I tried to run the tft preprocessing steps and found that the preprocessing steps went through fine with `tensorflow==1.4.0` and `tensorflow-transform==0.4.0`.  But the actual training failed with `NaN` loss.

[2018-03-14 23:14] happyhuman commented on #175
Hi
I am looking into this issue and trying to figure out what went wrong. In order to do this, can you please provide the followings to me:
1- Which one of the samples in the "cloudml-samples" repo are you running?
2- I cannot access the content of the log file (with the link) in your post. Can you provide a copy of the log file?
Thanks

[2018-03-15 08:57] bobleegogogo commented on #175
Hallo,
 Basically, I am running a sample like 'pet', but with my own building training and test data. And using the model of "ssd_inception_v2_coco".
 About the log file, It seems I could not export it from my google cloud ML platform,  I copy the error log here as attach.

I also got the question that: is this because I am using tensorflow 1.6 and only with the runtime [1.5?]
[error log.docx](htt

[2018-03-15 09:02] bobleegogogo commented on #175
I think here is the main problem, I attach the screenshot.
![error](https://user-images.githubusercontent.com/33456076/37453430-e9fb9036-2837-11e8-93c6-a78dff89ef82.PNG)

[2018-03-15 18:17] happyhuman commented on #175
I have not seen this issue before, and it is a bit difficult to say what went wrong without having access to your code or data. I am also wondering why you posted this issue in this repo if your issue is not related to the code in this repo. Can you please elaborate?

[2018-03-17 20:50] giksa commented on #40
I have the same problem and I use the next command:
[code]

[2018-03-27 02:52] nehcgnem commented on #175
Same issue as well, using    --runtime-version 1.5 \

File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/client/session.py", line 1344, in _do_run options, run_metadata) File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/client/session.py", line 1363, in _do_call raise type(e)(node_def, op, message) UnavailableError: Stream removed

[2018-03-27 07:07] TopHatCroat commented on #175
I propose trying increased parameter server spec. [Details](https://github.com/tensorflow/models/issues/3757#issuecomment-376419016)

[2018-03-27 08:22] andrewm4894 commented on #159
@dizcology hmm not sure what that might going on there.

I'm having trouble getting the comments into a bag of words and then embedding.

I made a fresh SO question [here](https://stackoverflow.com/questions/49507676/tensorflow-dataset-how-to-get-my-features) to show what i mean.

[2018-04-04 20:05] francescoperera opened #177 "Scikit-learn on ML Engine"
Hi,
I just noticed that an example of scikit-learn support on ML Engine was posted a few days ago under `sklearn/notebooks/Online Prediction with scikit-learn.ipynb`. This examples show us how  to deploy a scikit-learn model. I noticed that in the body of the `projects.models.versions.create` API call there is a new field called `framework` that allows you to specify what framework model to deploy

[2018-04-05 19:35] khorsandi2014 opened #179 "Training and Evaluation Jobs on Google Cloud ML Engine ERROR"
For problems running the sample code please provide the following information.

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS
- **TensorFlow version (use command below)**: 1.5
- **Python version**: 3.6
- **Exact command to reproduce**:
gcloud ml-engine jobs submit training `whoami`_object_detection_`date +%s` \
    --runtime-version 1.2 \
    --job-di

[2018-04-11 09:23] Ashar2shahid opened #180 "Using your own evaluation and training set"
I would like to use my own set of images for classification: The current method i see is changing the input_path in both training and eval:
`python trainer/preprocess.py \
  --input_dict "$DICT_FILE" \
  --input_path "gs://cloud-ml-data/img/flower_photos/eval_set.csv" \
  --output_path "${GCS_PATH}/preproc/eval" \
  --cloud`

and replacing it with my own csv file pointing to all the images. As it

[2018-04-11 15:58] dizcology commented on #177
@francescoperera Serving scikit-learn and xgboost models is a new feature of Cloud ML Engine.  On [this page](https://cloud.google.com/ml-engine/docs/scikit/getting-predictions#create_a_model_version) you can see some information about the `framework` field.

In short, `framework` must be "SCIKIT_LEARN" or "XGBOOST".

Training scikit-learn and xgboost model is not currently supported on Cloud ML E

[2018-04-11 16:07] dizcology commented on #179
@khorsandi2014 Thank you for reporting the issue.  From the log you provided it appears as if the training job could not access the training package.  Does your bucket have access limitations?

[2018-04-11 16:11] dizcology commented on #180
@Ashar2shahid Please clarify which step you found cumbersome:

1. do you already have the images on GCS?
2. do you have correctly formatted csv files that point to your images?

[2018-04-11 16:13] khorsandi2014 commented on #179
@dizcology Thanks! I did not change settings on my bucket or GC. How can I check if there is access limitations?

[2018-04-11 20:48] thedriftofwords commented on #179
@khorsandi2014 If your ML Engine project doesn't have access to your Cloud Storage bucket, see: https://cloud.google.com/ml-engine/docs/tensorflow/working-with-cloud-storage

[2018-04-11 21:38] thedriftofwords commented on #177
@francescoperera

The method pages (like [`projects.models.versions.create`](https://cloud.google.com/ml-engine/reference/rest/v1/projects.models.versions/create)) don't show all the possible parameters. The page for the relevant resource - [`Version`](https://cloud.google.com/ml-engine/reference/rest/v1/projects.models.versions) - shows all the parameters, including `framework`.

In general, you

[2018-04-11 21:38] #177 closed

[2018-04-12 12:24] iolalla opened #181 "cloudml-template/README.md points to the wrong links"
The links included in cloudml-samples/README.md point to https://github.com/ksalama/cloudml-samples/blob/master/cloudml-template/template/ and should point to https://github.com/GoogleCloudPlatform/cloudml-samples/tree/master/cloudml-template/template/

This is a Documentation error and happens in every OS, browser, etc.

[2018-04-12 13:40] Ashar2shahid commented on #180
I have the images uploaded to GCS into different directories based on their labels eg:
` ------images
-----------------car
-----------------bus
-----------------bike`
with 100 images in each folder. Now creating a csv file for this is as simple as
`gsutil ls gs://path/to/images/car > car.csv` which creates a csv file with the path to cars but then i have to do this for every folder and also attach

[2018-04-12 16:43] iolalla commented on #181
Here goes the patch I've generated to solve it.

[patch.txt](https://github.com/GoogleCloudPlatform/cloudml-samples/files/1904183/patch.txt)

[2018-04-12 17:25] khorsandi2014 commented on #179
@thedriftofwords Thanks! Now, I get these errors:

1- tensorflow 1.2.0 has requirement wheel, but you'll have wheel 0.30.0a0 which is incompatible.

2- Command '['python', '-m', u'object_detection.train', u'--train_dir=gs://object-bucket2/train', u'--pipeline_config_path=gs://object-bucket2/data/faster_rcnn_resnet101_pets.config', '--job-dir', u'gs://object-bucket2/train']' returned non-zero exit

[2018-04-12 20:34] thedriftofwords commented on #181
Thanks for the fix, @iolalla! I wasn't sure how to use your patch.txt, so I made a PR myself - feel free to take a look and verify that it resolves the problem.

[2018-04-13 19:12] francescoperera commented on #177
@thedriftofwords @dizcology  thanks for the replies. Just wondering what best practices would be to  train scikit learn on GCP ? GCE instances? If so what do you tips on how to build resilient/ production grade training jobs ?

[2018-04-13 21:40] thedriftofwords commented on #177
@francescoperera [This tutorial](https://github.com/GoogleCloudPlatform/ml-on-gcp/tree/master/gce/survival-training)might be of interest to you. Although it is a TensorFlow tutorial, and the scikit-learn version is still in progress, it has information about how to build resilient training jobs on GCE instances.

[2018-04-17 23:49] sbsends opened #183 "ML Engine Quota Question"
Dear ML Engine Team,

Before building an app using the ml-engine I need to know whether the deployed model quota (currently 100) can be significantly increased.

I have contacted sales, technical support, and filled out the custom quota request form. Alas, I still haven’t received an answer. Can you put me into contact with the right people? Sorry to file a GH issue, but i’ve had no luck with othe

[2018-04-17 23:56] sbsends commented on #183
Sorry to tag you. The only reason I am here is because the uncertainty about model quota is massively bottlenecking my project. I appreciate your time/insight.

@broady @amygdala @cdibona @mrry @tswast

[2018-04-18 00:10] lluunn commented on #183
Hi, please send an email to cloudml-feedback@google.com.

[2018-04-18 09:10] ksalama commented on #181
@iolalla - I think the issue can be closed now

[2018-04-18 10:25] iolalla commented on #181
Both are right. This issue is fixed.

[2018-04-18 10:25] #181 closed

[2018-04-18 15:48] sbsends commented on #183
Thank you @lluunn! Closing.

[2018-04-18 15:48] #183 closed

[2018-04-19 17:52] puneith opened #184 "Hyperparameter tuning training job getting confused with training and eval metrics due to same name"
Hyperparameter tuning training job getting confused with training and eval metrics due to same name. See this [SO](https://stackoverflow.com/questions/49057830/too-many-hyperparameter-tuning-metrics-written-out/49057831#49057831) link which also has guidance on how to fix it.

[2018-04-19 21:52] sirtorry opened #185 "use built-in xgboost evaluator"
[census xgboost notebook](https://github.com/GoogleCloudPlatform/cloudml-samples/blob/master/xgboost/notebooks/Online%20Prediction%20with%20XGBoost.ipynb)

[2018-04-21 01:49] FriedNails opened #187 "Wrong return in generate_input_fn in Trainer Package Template"
In `input.py`  `generate_input_fn` function's description says that it returns a function:
https://github.com/GoogleCloudPlatform/cloudml-samples/blob/472d363968cee20a42bbed05c049d8291b499d4f/cloudml-template/template/trainer/input.py#L186

but it actually calls that function in return statement:
https://github.com/GoogleCloudPlatform/cloudml-samples/blob/472d363968cee20a42bbed05c049d8291b499d4f/c

[2018-04-23 16:48] happyhuman commented on #187
Thank you for reporting this issue. I am working on fixing it.

[2018-04-24 16:26] happyhuman commented on #187
The issue is fixed. Thanks again for reporting it.

[2018-04-24 16:26] #187 closed

[2018-04-24 17:11] happyhuman commented on #184
@puneith where exactly is the code that needs be fixed? Can you provide the file and/or function name?

[2018-04-30 13:43] sebastianbk opened #191 "Bug in Keras sample"
When using the `preprocess.py` tool to prepare a chunk of data for testing out the Cloud ML Engine prediction service (using the model trained with Keras and saved to a SavedModel file), an exception is thrown on line 25:

https://github.com/GoogleCloudPlatform/cloudml-samples/blob/8a349c10bc19c1fe42bd6bd83606cec3a23b8f76/census/keras/preprocess.py#L25

The tool uses the `generator_input` function

[2018-05-01 20:48] puneith commented on #184
@happyhuman See this code https://github.com/GoogleCloudPlatform/cloudml-samples/blob/master/census/estimator/trainer/task.py#L43 where you need to add the params as per this code (see rmse in [SO](https://stackoverflow.com/questions/49057830/too-many-hyperparameter-tuning-metrics-written-out/49057831#49057831)) and return another estimator.

estimator = tf.contrib.estimator.add_metrics(estimator,

[2018-05-01 20:49] puneith commented on #73
@jcomfort4 Haven't heard back on the status of new samples and TF version so closing this. Feel free to reopen or file another issue.

[2018-05-01 20:49] #73 closed

[2018-05-01 20:58] puneith commented on #77
@bw4sz Are you still facing the issue, please see my question above.

[2018-05-01 21:03] puneith commented on #104
The default [runtime_version for CMLE is still 1.0](https://cloud.google.com/ml-engine/docs/tensorflow/runtime-version-list) and you need to specify the runtime-version as @girijaravishankar mentions in [comment](https://github.com/GoogleCloudPlatform/cloudml-samples/issues/104#issuecomment-365265665) above. Anyone still facing the issue please reopen this.

[2018-05-01 21:03] #104 closed

[2018-05-01 21:03] bw4sz commented on #77
sorry, no, recent installs fixed this for me. Can close.

On Tue, May 1, 2018 at 1:58 PM, Puneith Kaul <notifications@github.com>
wrote:

--
Ben Weinstein, Ph.D.
Postdoctoral Fellow
University of Florida
http://benweinstein.weebly.com/

[2018-05-01 22:57] puneith commented on #191
@sebastianbk It is returning a generator and I confirmed by running the code it works. Can you confirm you don't have a file named model.py which doesn't have the function?

[2018-05-02 12:44] jcomfort4 commented on #73
@puneith Sorry that I missed this the first time. I'm using TF 1.6 and I just upgraded tensorboard via pip install to ensure I was using the newest tensorboard, but I am still getting this error:

W0502 06:41:40.734479 Reloader plugin_event_accumulator.py:300] Found more than one graph event per run, or there was a metagraph containing a graph_def, as well as one or more graph events.  Overwriting

[2018-05-10 16:55] sebamlu opened #194 "Cannot access census data"
Seems to be a problem with the public billing account, i got this problem when trying to download the data:

$ gsutil cp gs://cloudml-public/census/data/* local/data

Also if I try to navigate to:
https://storage.cloud.google.com/cloudml-public/testdata/prediction/census.json

got this message:
"The project to be billed is associated with a closed billing account."

[2018-05-11 03:50] thedriftofwords commented on #194
@sebamlu Thanks for letting us know! We brought that account back online temporarily while we move the data to a different account. I'm leaving this issue open until that update is complete, as we will be changing the bucket names in the samples and docs accordingly.

[2018-05-11 17:47] thedriftofwords commented on #194
#195 has been approved & merged.

[2018-05-15 17:30] #194 closed

[2018-05-15 17:32] sirtorry commented on #194
dataset moved to gs://cloud-samples-data/ml-engine/census/data/*
closed issue.

[2018-05-24 01:18] brucedaniel opened #196 "flowers requirements install fails"
Cloud Shell
[code]

### Describe the problem
I am trying to follow the tutorial here and run the flowers example: https://cloud.google.com/ml-engine/docs/tensorflow/flowers-tutorial

When I do the install requirements step and the tensorflow install step I get these:

[code]

After various pip cycles I got it down to
[code]

[2018-05-24 15:07] rasmi opened #197 "Num_epochs is not used in train_and_evaluate examples"
In the census example, [`num_epochs` gives the impression](https://github.com/GoogleCloudPlatform/cloudml-samples/blob/90005b4378dbc03ebeb7e53277ccbe9592292c06/census/estimator/trainer/task.py#L67-L75) that training will stop after that many epochs. This is not the case because [`train_and_evaluate`](https://github.com/GoogleCloudPlatform/cloudml-samples/blob/90005b4378dbc03ebeb7e53277ccbe9592292c

[2018-05-29 07:36] yuvalaviel opened #198 ""Unable to get the Filesystem .." in flowers/sample.sh with cloudshell"
### system
- OS Platform and Distribution : cloudshell
- TensorFlow version 1.8.0
- Python version 2.7.13
- Exact command to reproduce:
[code]

### The problem:
When running ./sample.sh, I get (for the preprocess.py command):
ValueError: Unable to get the Filesystem for path gs://cloud-ml-data/img/flower_photos/eval_set.csv

I wouldn't get this error before. Its a new thing.

 ### attempts
[code]

[2018-05-29 16:43] happyhuman commented on #198
Thanks for reporting the issue. I am looking into it and I will get back to you soon.

[2018-05-29 18:13] happyhuman commented on #198
Can you try to install the required libraries, using the `requirements.txt` in `flowers` directory, using this command: `pip install -r requirements.txt`?

[2018-05-29 19:22] yuvalaviel commented on #198
Thank you @happyhuman , indeed I missed the version part of the requirements.txt ..

Anyhow, now that I do (you forgot the sudo):
    ```sudo pip install -r requriements.txt```
I get

[code]

**The error is because there is no option '--download' in pip.
Does the apache-beam really tries to re-install itself??**

### log
[code]

[2018-05-29 20:18] yuvalaviel commented on #198
OK, I managed to make it work.
* I noticed that dataflow API was not enabled (isn't there a script to check this?)

[2018-05-29 20:30] happyhuman commented on #198
Oh good. I am glad to hear it worked out.
I am not sure whether there is a script to tell if the dataflow API is enabled. I will try to find out.

[2018-05-29 20:30] #198 closed

[2018-05-30 09:01] yuvalaviel commented on #198
Hi @happyhuman ,

not this edit above:
* The apache-beam version is 2.3.0, not 0.6.0 as in the requirements.txt

Other users might have similar issue ...

[2018-05-31 15:26] Abduoit commented on #175
@TopHatCroat
I tried you suggestion but I still have same issue

Is there another idea?
[code]

[2018-06-01 11:26] TopHatCroat commented on #175
@Abduoit can't tell much more about this as I was not able to fix it properly, instead just play with the numbers and hope for the best.
A good place to look are your images as well, they should be small ie. 500x500 pixels or so at most, I've realized that these can affect memory quite a bit, but before, take a look at your batch size in your training config, you could reduce that number as well t

[2018-06-01 14:09] Abduoit commented on #175
@TopHatCroat Thanks for reply, my images are 800X600 pixels. I ll try to reduce them first, then I ll retrain again.

[2018-06-04 18:59] daltonj opened #201 "Updating movielens TF version"
The movielens example is quite out of date. According to setup.py the version currently being used is:

TENSORFLOW='tensorflow==1.3.0'
TENSORFLOW_TRANSFORM='tensorflow-transform==0.3'

Are there plans to update the example to a more recent release?  We are now on transform version 0.6.0.

I tried updating the versions, but the code appears to be using deprecated / outdated APIs that are no longer

[2018-06-05 16:53] happyhuman commented on #201
Thanks for reporting this. We will certainly look into the issue. Were you able to modify and update the versions and the code and run it?

[2018-06-07 03:41] ziranfeng opened #203 "No Saved Model after successfully trained the models on ml engine"
For problems running the sample code please provide the following information.

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux (deployed on GCP terminal)
- **TensorFlow version (use command below)**:tensorflow==1.8.0
- **Python version**: Python 2.7.13
- **Exact command to reproduce**:
#!/bin/bash

echo "Submitting a Cloud ML Engine job..."

REGION="us-

[2018-06-07 11:21] ksalama commented on #203
@ziranfeng - Thank you for this. I managed to reproduce the issue and resolve it. Could you please try the following:

- remove the --num-epochs=10 from the command args. The number of epochs can only be useful if you specified the dataset size. Then the training step will be computed. Otherwise, just use the --train-steps argument.

- make sure that you are pointing to the correct locations of th

[2018-06-07 13:31] StephenBydawell opened #205 "Problem running preprocessing for flowers retrain tutorial"
I'm doing the 'Image Classification using Flowers dataset' tutorial on cloud shell: https://cloud.google.com/ml-engine/docs/tensorflow/flowers-tutorial

when running:
[code]
I get the following:

[code]
I have completed all the previous steps using cloud shell.

[2018-06-07 15:34] StephenBydawell commented on #205
Updating apache-beam has seemed to work:
[code]

[2018-06-07 17:19] ziranfeng commented on #203
@ksalama - Thank you for your help. I removed --num-epochs=10 and submitted job again but I still cannot find the saved_model.pb etc. Please see the below screenshots:

![image](https://user-images.githubusercontent.com/14118209/41115311-1fac29b6-6a55-11e8-8045-f6ad7d8c33c6.png)

![image](https://user-images.githubusercontent.com/14118209/41115336-30d597d6-6a55-11e8-9f74-b3173a43101a.png)

![image

[2018-06-07 18:08] ksalama commented on #203
@ziranfeng - Ok, you also need to set the default num-epoch value in the task.py to None, since it is using the default value if you don't supply it to the command argument.

[2018-06-07 18:36] ziranfeng commented on #203
@ksalama -  Hi Ksalama, the problem is solved! Really appreciated!

[2018-06-07 23:11] happyhuman commented on #205
Thanks for posting the solution. I am going to go ahead and close this issue.

[2018-06-07 23:11] #205 closed

[2018-06-07 23:12] happyhuman commented on #203
Looks like there is no more issue here. I am going to go ahead and close this.

[2018-06-07 23:12] #203 closed

[2018-06-09 16:48] falahgs commented on #196
i have the same error in the same project
proto-google-datastore-v1 1.3.1 has requirement protobuf==3.0.0, but you'll have protobuf 3.5.2.post1 which is incompatible.
google-cloud-translate 1.3.1 has requirement google-cloud-core<0.29dev,>=0.28.0, but you'll have google-cloud-core 0.24.1 which is incompatible.
google-cloud-spanner 1.3.0 has requirement google-cloud-core<0.29dev,>=0.28.0, but you'l

[2018-06-11 11:27] daltonj commented on #201
I was able to run it with great difficulty. I received many warnings that many of the tensorflow functions are removed.

WARNING:tensorflow:From .../cloudml-samples/movielens/preproc/movielens.py:256: string_to_index_table_from_file (from tensorflow.contrib.lookup.lookup_ops) is deprecated and will be removed after 2017-04-10.
Instructions for updating:
Use `index_table_from_file`.
WARNING:tensorf

[2018-06-12 16:35] nnegrey commented on #196
Hi,

Thanks for catching this. Hopefully we can get this resolved, but in the meantime, mind trying this alternative?

I got the same issue too, but was able to get around it by switching
`pip` >>> `pip3`
`python` >> `python3`

Let me know if that works for you!

[2018-06-13 16:36] nnegrey commented on #201
Hi! Hope I understand correctly that even with all the issues you were able to get it running?

We are hoping/planning to get these updated, but I don't have an ETA on when that will happen.

We do love community contributions and if you want to push your solution, that would be awesome!
Check out our guide [here](https://github.com/GoogleCloudPlatform/cloudml-samples/blob/master/CONTRIBUTING.md)

[2018-06-14 19:39] mtm12 opened #207 "No model.pb or model.pbtxt"
I used ML Engine to tune hyperparameters on a model. When the trials complete there are 5 folders with .cktp files and graph.pbtxt but no model.pb or model.pbtxt file.
[code]

I want to import the optimized model using tf.contrib.predictor.from_saved_model() which requires a model.pb or model.pbtxt file.

[2018-06-14 20:00] nnegrey commented on #207
Hi, let's try to get this resolved.

Did you happen to add code to your model file that saves the graph and exports it to GCS?

[2018-06-14 20:14] ksalama commented on #207
Hi - Please make sure that yo have the following:
1. serving_fn - to accept data points for predictions
2. [FinalExporter](https://www.tensorflow.org/api_docs/python/tf/estimator/FinalExporter) - and give it a name and the serving_fn
3. TrainSpec & [EvalSpec](https://www.tensorflow.org/api_docs/python/tf/estimator/EvalSpec) - the EvalSpec takes the exporter as a parameter
4. [tf.estimator.train_an

[2018-06-14 20:29] mtm12 commented on #207
I modified the example from here: https://github.com/GoogleCloudPlatform/training-data-analyst/blob/master/courses/machine_learning/deepdive/05_artandscience/b_hyperparam.ipynb

The help line ' help = 'GCS location to write checkpoints and export models.' implies ML Engine automatically saves the model.pb file.

[2018-06-15 09:07] ksalama commented on #207
@mtm12 - Exporting the model is irrelevant to MLE. You need to have a serving_fn and and exporter in your EvalSpec so that the your model is exported at the end of the training (using the FinalExporter). Training your model without these things locally, on Cloud MLE (with or without HP tuning) will not export your model to SavedModel.pb. The reason why this code is not included in the example that

[2018-06-15 19:58] mtm12 commented on #207
I actually did have the serving_fn and exporter in my original code running on my local machine. I didn't realize how that interacted with MLE. This works:

[code]

[2018-06-16 21:53] puneith commented on #131
@davidcavazos does your commit have the fix?

[2018-06-16 21:55] puneith commented on #88
@jcomfort4 ping on this.

[2018-06-18 16:29] #201 closed

[2018-06-20 19:49] nwandabridges opened #210 "Keras example will not run with Tensorflow 1.2"
For problems running the sample code please provide the following information.

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS 10.13.5
- **TensorFlow version (use command below)**: 1.2.0
- **Python version**:  3.6.5
- **Exact command to reproduce**:
[code]

### Describe the problem
The Keras tutorial will not run with Tensorflow version 1.2.0 (the versi

[2018-06-20 20:20] nwandabridges commented on #210
I've submitted a [pull request](https://github.com/GoogleCloudPlatform/cloudml-samples/pull/212) that resolves this issue.

[2018-06-22 20:08] sunilpankaj commented on #101
i got this error

Traceback (most recent call last):
  File "C:/Users/anil pankaj/Documents/neural network/facial_detection_practice.py", line 1, in <module>
    from model import create_model
ModuleNotFoundError: No module named 'model'

on this code to mention below

from model import create_model
nn4_small2 = create_model()

so how to resolve it.

[2018-06-26 03:44] wbattel4607 opened #214 "Flowers Sample: ValueError: string_input_producer requires a non-null input tensor"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS High Sierra
- **TensorFlow version (use command below)**: tensorflow==1.8.0
- **Python version**: 2.7.10
- **Exact command to reproduce**: see below
- **Tensorflow Transform environment (if applicable, see below)**: apache-beam==2.4.0

### Describe the problem
When following the Flowers Cloud ML Sample, I a

[2018-06-26 17:22] dizcology commented on #214
@wbattel4607 Could you confirm that the `train_data_paths` you pass in points to the correct paths?

[2018-06-26 19:14] wbattel4607 commented on #214
@dizcology it seems to be correct. I’m using the same value for `$GCS_PATH` as the preproc step, which succeeded. (However, the docs said the preproc step would take 60 minutes but it only took 8 when I did it, so idk what’s up with that). But yeah, the data is there so I don’t think that’s the issue. I’ve just been following the guide word-for-word because I’m totally new to ML.

[2018-06-26 23:33] willbattel opened #215 "Flowers Sample: python -m tensorflow.tensorboard --logdir=$OUTPUT_PATH deprecated"
It seems the docs need to be updated to use the new tensorboard command. https://cloud.google.com/ml-engine/docs/tensorflow/flowers-tutorial#monitor_training_progress

`python -m tensorflow.tensorboard --logdir=$OUTPUT_PATH` should be replaced with `tensorboard --logdir=$OUTPUT_PATH` according to Tensorflow https://github.com/tensorflow/tensorflow/issues/10959#issuecomment-323440512

[2018-06-27 21:53] thewozz commented on #175
Any solution concerning this problem ? I am having the same error described above.

[2018-06-28 19:41] awan-10 opened #216 "Criteo example - update to TF Estimators?"
This is not a bug report but I have no other way of asking this question.

Do you guys plan to update the Criteo example with the new TF Estimator interface?

I would like to use the latest version of TensorFlow for the Criteo example in the Cloud and it shows a lot of warnings with the old/deprecated tf.contrib.learn interace.

[2018-06-29 19:18] puneith commented on #216
@awan-10 No plans right now but are you open to taking a stab at it and we will happily provide guidance. You can use the custom estimator Census as an example.

[2018-06-29 19:41] awan-10 commented on #216
@puneith - Thanks for the feedback. I will be working on it two weeks from now. If I run into problems, should I post in this thread or create a new issue?

Also a few quick questions are about Sparse columns and DNN classifiers. I see the following:

[code]

Can you point me to any examples, if you are aware of, to convert the spare columns/crossed columns to the new tf.feature_column API that is

[2018-06-29 19:54] puneith commented on #216
@awan-10 Checkout this code https://github.com/GoogleCloudPlatform/cloudml-samples/blob/master/cloudml-template/examples/census-classification/trainer/featurizer.py. @ksalama for FYI and any follow-up questions.

[2018-07-11 18:31] lioutasb opened #217 "Executing Movielens preprocess fails"
### System information
- Linux Ubuntu 16.04
- tensorflow-gpu==1.8.0
- Python 2.7
- tensorflow-transform==0.6.0
- apache-beam==2.4.0

### Describe the problem
I'm trying to execute the [Movielens](https://github.com/GoogleCloudPlatform/cloudml-samples/tree/master/movielens) preprocess pipeline locally but it fails.

The command I'm running is the following with the appropriate changes in the paths:

[2018-07-12 13:07] puneith commented on #216
Closing this as per above comment.

[2018-07-12 13:07] #216 closed

[2018-07-12 13:10] puneith commented on #217
@lioutasb Looks like case of empty input dataset? Can you confirm if things are working for the code sample with the pinned dependencies in requirements.txt?

[2018-07-24 05:33] yetangye opened #222 "Can you provide a TPU tutorial for Running Inception on Cloud TPU with slim API"
Thanks for providing "Running Inception on Cloud TPU" with Estimator API as the wiki below:
https://cloud.google.com/tpu/docs/tutorials/inception

We are new to TPU and we hope you can provide "Running Inception on Cloud TPU" with slim API too, thank  you very much.

[2018-07-24 05:52] yetangye commented on #222
And how to apply the check point for Transfer Learning

[2018-07-25 01:40] mesargent commented on #179
I'm getting the same error, along with
ps-replica-1
/usr/bin/python: No module named object_detection.train

[2018-07-25 16:11] mesargent opened #223 "No module object_detection.train"
For problems running the sample code please provide the following information.

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux 17.04
- **TensorFlow version (use command below)**:
1.9.0
- **Python version**:
2.7.13
- **Exact command to reproduce**:
[code]

- **Tensorflow Transform environment (if applicable, see below)**:

To obtain the Tensorflow and Te

[2018-07-25 16:16] #223 closed

[2018-07-25 16:17] mesargent commented on #223
Will try SO first to see if it's really a bug.

[2018-07-26 13:44] NatLun091238 commented on #179
I get similar, but a bit different error. It looks like this.
worker-replica-21
Command '['python', '-m', u'trainer.task', u'--output_dir=gs://the_puth', u'--topk=25', u'--job-dir=/tmp', '--job-dir', u'gs://the_puth']' returned non-zero exit status -9
Any ideas how to solve this??

[2018-07-27 07:07] aawgit commented on #179
In my case, I had made a mistake in the path to model.ckpt file. Solved the issue by correcting it. I suggest looking at the earlier entries of the log. It will probably reveal more information on where the culprit is.

[2018-07-27 21:06] happyhuman commented on #222
Hi, thanks for your message. I take it, this is more of a feature/sample request, rather than an issue with one of the existing samples then. Correct?

[2018-07-27 22:35] yetangye commented on #222
Yes, this is a a feature/sample request, thanks for your work.

[2018-07-28 13:52] g-hrafiq opened #224 "Cloud ML | Object detection model deploying error: op type not registered nonmaxsuppressionv3"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Unix on GCP
- **TensorFlow version**: 1.9 on GCP
- **Python version**: 2.7.13
- **Exact command to reproduce**: gcloud ml-engine versions create
- **Tensorflow Transform environment (if applicable, see below)**: NA

### Describe the problem
CloudML issue: While trying to deploy a CMLE custom trained object detect

[2018-07-28 20:36] g-hrafiq commented on #224
Creating on Tensorflow's GIT https://github.com/tensorflow/models/issues/4928

[2018-07-28 20:48] g-hrafiq commented on #224
Keeping incident open for any of the teams to work on.

[2018-07-28 21:04] g-hrafiq commented on #224
Solved myself, I was using TF 1.9 on GCP. Had to downgrade to TF 1.8 and then run export_inference_graph.py again.

After that I was able to host on CMLE serving.

[2018-07-28 21:04] #224 closed

[2018-07-29 20:08] billybee opened #225 "The scripts cygdb, cython and cythonize are installed in '/root/.local/bin' which is not on PATH"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Win 10
- **TensorFlow version (use command below)**: 1.8
- **Python version**: 3.6
- **Exact command to reproduce**:
gcloud ml-engine jobs submit training my_mask_rcnn_201807271234
    --job-dir=gs://${YOUR_GCS_BUCKET}/train
    --packages dist/object_detection-0.1.tar.gz,slim/dist/slim-0.1.tar.gz
    --module-na

[2018-07-30 04:52] puneith commented on #131
@behnamprime can you confirm if this is a VM quota issue from Dataflow console logs.

[2018-07-30 16:33] happyhuman commented on #225
Hi. Thanks for your message. Before I can assist you any further, can you please tell me which one of the sample code in this repository were you trying to run which led to this issue? I am trying to reproduce the issue on my end as much as possible.

[2018-07-31 12:22] volodymyrd opened #228 "The job doesn't finish but hangs with a message "Skip the current checkpoint eval due to throttle secs (600 secs).""
### System information
GCP console
tensorflow==1.9.0

### Describe the problem
I run  a local training job in distributed mode according to the [getting started guid](https://cloud.google.com/ml-engine/docs/tensorflow/getting-started-training-prediction) in the CGP console, and job doesn't finish but stuck with the message  "INFO:tensorflow:Skip the current checkpoint eval due to throttle secs (60

[2018-07-31 16:43] happyhuman commented on #228
Thank you for your message and raising the issue. Can you please tell me which one of the sample codes in this repo were you trying to run?

[2018-07-31 22:26] happyhuman commented on #228
Thanks for the clarification. Please allow me a day or two to look into it. In the meantime, if you happen to have any update or progress, please leave a comment here.

[2018-08-02 15:37] NazerkeT commented on #180
@Ashar2shahid, If I am not mistaken you can do all these stuff, without this tiresome alternative. Just you need some quick hacking methods.
1) For example, in mac, you can extract the images' name inside a folder using `ls > contents.txt ` command.
2) Write some python scripts to combine images' name with the corresponding source folder, then write them into one common csv.
3) You can split them

[2018-08-02 16:31] happyhuman commented on #228
I tried to reproduce this issue, but I was unable to reproduce it. Can you tell me more about the steps you took to reproduce it? The more details the better. Thanks.

[2018-08-03 11:08] volodymyrd commented on #228
I've tried it once again and it works as expected. Sorry for trouble, I close the issue, thanks a lot!

[2018-08-03 11:08] #228 closed

[2018-08-03 11:28] volodymyrd commented on #228
I see the [changes](https://github.com/GoogleCloudPlatform/cloudml-samples/commit/987792c1f8a12c0c82c9bc835a3b6ffaf42c617b) was 4 days ago probably it fixed the problem, because with the old repo I can reproduce the issue.

[2018-08-03 16:36] #225 closed

[2018-08-07 22:01] ricoms commented on #101
@puneith Does this known bug still exist?

[2018-08-08 17:50] fatemeh91 commented on #205
I have the same Issue but upgrading the apache-beam even does not work

[2018-08-09 08:09] LefterisS commented on #205
The problem is with the `--download` flag in [this](https://github.com/apache/beam/blob/release-0.6.0/sdks/python/apache_beam/runners/dataflow/internal/dependency.py#L506) line. One solution is to use an older version of pip (<=9.0.3) where the flag is not yet deprecated. Even better though would be if the requirements.txt included a newer version of beam (>=2.3.0) where "pip install --download" i

[2018-08-13 06:30] ultrons commented on #101
I second @ricoms question. I notice the same problem with python3.5 environment.

[2018-08-13 15:57] ricoms commented on #101
@ultrons, I solved it by using reference import, like this:
[code]

here it worked, I'm onto new bugs now xD

[2018-08-13 18:03] nicolamarinello commented on #225
I got the same error. How did you fix it?

[2018-08-14 02:32] billybee commented on #225
it is not fixed. but I don't know if it's the root cause of my train job
failure.

2018-08-13 12:03 GMT-06:00 Nicola Marinello <notifications@github.com>:

[2018-08-14 06:11] puneith commented on #191
@sebastianbk closing this issue due to inactivity. Feel free to reopen or file new issue.

[2018-08-14 06:11] #191 closed

[2018-08-14 06:12] puneith commented on #131
@behnamprime closing due to inactivity. Feel free to reopen or file new issue.

[2018-08-14 06:12] #131 closed

[2018-08-14 06:44] nicolamarinello commented on #225
I'm trying to train an SSD v2 for object detection as described here [https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_cloud.md](here). I was able on July doing everything in the same way. I would read the old logs to check if this problem is the root of the train job failure but I'm not able to check too old logs

[2018-08-17 08:35] mr-bjerre opened #231 "Include Tensorboard in Trainer Package Template"
In [Trainer Package Template](https://github.com/GoogleCloudPlatform/cloudml-samples/tree/master/cloudml-template) it would be valuable if it was optimized for running tensorboard as well when running truly locally.

If I run the training now and then run Tensorboard pointing to the job dir then I don't see the full output. The following snapshot is from a run on [census](https://github.com/Google

[2018-08-17 15:50] nnegrey commented on #231
Hi! Thanks for the feedback and I'll see what I can do to make that happen.

[2018-08-18 08:14] akulubala commented on #225
I got this error too, anyone got a solution?

[2018-08-20 13:41] genesisfatum opened #237 "Census Sample - estimator/trainer/model.py"
**Describe the bug**
It seems to me that for this [model](https://github.com/GoogleCloudPlatform/cloudml-samples/blob/master/census/estimator/trainer/model.py), the "example_serving_input_fn" does not work because the "feature_scalars" variable is not used. Instead the "features" variable is used and this is not defined.

**What sample is this bug related to?**
Cloud Sample - Census (estimator)

*

[2018-08-21 23:27] sirtorry commented on #237
fix merged. closing issue.

[2018-08-21 23:27] #237 closed

[2018-08-23 07:02] g-hrafiq commented on #224
Yes its simple, you have to first downgrade TF on Cloud shell to 1.8 by using `pip install tensorflow==1.8.0`

Then use the normal cloud ML engine training command on Cloud shell.

[2018-08-23 19:16] JohnSDevs commented on #224
Ok.
I Managed to train on 1.8 but still the same error.
Gotta ask, are you running everything from inside the cloud shell?

I tried to do that but running export_inference_graph.py gave me
“Killed” error. Not enough memmory for those tasks.

Could you explain more in detail your workflow and what version of Object detection API you used(what release) and could you share your pipeline.config?

[2018-08-24 04:33] g-hrafiq commented on #224
Can you launch the Cloud Shell in Boost mode ? I had similar kind of errors while running export inference code. I was able to solve this by running shell on Boost mode.

This option appears in the cloud shell console top right "gear" icon. https://cloud.google.com/shell/docs/features#boost_mode

[2018-08-24 08:42] JohnSDevs commented on #224
Thx! It worked. I did the export of my old models trained in 1.9 and run it on the boosted shell with TF 1.8.

Have to find my bug cos i have done a couple of reinstalls on my macbook and i have done the same workflow.

[2018-09-10 10:42] lebuckle commented on #223
I'm having the same issue, did you get it fixed?

[2018-09-10 14:02] Ankitagupta3988 opened #243 "Preprocessing data"
Getting below error on pre-processing of evaluation data.

Command that I am running -

    python trainer/preprocess.py \
        --input_dict "$DICT_FILE" \
        --input_path "gs://cloud-ml-data/img/flower_photos/eval_set.csv" \
        --output_path "${GCS_PATH}/preproc/eval" \
        --cloud

**Error**

     File "trainer/preprocess.py", line 490, in <module>main(sys.argv[1:])
      File "

[2018-09-10 21:50] dizcology commented on #243
Hi @Ankitagupta3988:  There seems to be a space between `gs://` and `ml-flowers-216007/...` in the GCS path.

[2018-09-11 20:28] spicyramen commented on #205
I upgraded to apache-beam==2.6.0 and this seems to have fixed the issue. I agree requirements.txt needs to be updated.

[2018-09-11 20:39] spicyramen commented on #196
Similar as issue #205

[2018-09-12 18:45] IvanWeiZ opened #245 "ImportError from movielens example"
I tried to run the movielens example and during the training stage I got following error.

[code]

[2018-09-13 23:43] gogasca opened #248 "Presubmits tests not triggered for Pull request (requirements.txt)"
**Describe the bug**

In this [PR](https://github.com/GoogleCloudPlatform/cloudml-samples/pull/246/commits), I modified the requirements.txt file under flowers/ directory.
The presubmits tests were not triggered in Kokoro.
*This PR was generated directly from Github web page. Using Edit file function from Github.*,

**What sample is this bug related to?**

https://github.com/GoogleCloudPlatform/cl

[2018-09-14 12:14] Ankitagupta3988 opened #249 "Getting error in training custom data"
Hi,

I am using my own Data set of animals.
I have been able preprocess it successfully.
But i am getting below error in job execution.

ERROR-
[code]

[2018-09-14 16:47] gogasca commented on #245
Hi @IvanWeiZ
Thanks for reporting this issue, are you using a virtual environment as described in the [pre-requisites](https://cloud.google.com/ml-engine/docs/tensorflow/getting-started-training-prediction) section?
I tried to go through the tutorial and was not able to reproduce the issue.
If you already using a virtual environment, can you share the following:

- OS version
- python -V
- pip fre

[2018-09-14 16:51] IvanWeiZ commented on #245
Hello @gogasca,

I submitted the job to Cloud ML using the default runtime environment.  I did not test the code locally. After I chose a newer version of the runtime environment like 1.4, I got other errors like
File "/root/.local/lib/python2.7/site-packages/tensorflow_transform/tf_metadata/v1_json/schema_io_v1_json.py", line 54, in read raise IOError("v1 Schema file does not exist at: %s" % path

[2018-09-14 17:13] gogasca commented on #248
User submitting PR was not part of the organization, added label to force pre-submits

[2018-09-14 17:13] #248 closed

[2018-09-14 17:36] gogasca opened #250 "Movielens Error during preprocessing"
**Describe the bug**
When running preprocess

I get:
[code]
Running:
[code]

Note: imports, functions and other variables defined in the global context of your __main__ file of your Dataflow pipeline are, by default, not available in the worker execution environment, and such references will cause a NameError, unless the --save_main_session pipeline option is set to True. Please see https://cloud.

[2018-09-14 17:42] gogasca commented on #249
@Ankitagupta3988 thanks for reporting the issue,
Few questions,

What model are you using?
What problem are you trying to solve?
Can you share the command you are running when you get the error?
Also this:

- OS
- python -V
- pip freeze

[2018-09-17 11:16] Ankitagupta3988 commented on #249
I am using flower dataset but have replaced it with my custom images.
Command -
gcloud ml-engine jobs submit training "$JOB_ID" \
  --stream-logs \
  --module-name trainer.task \
  --package-path trainer \
  --staging-bucket "$BUCKET" \
  --region us-central1 \
  --runtime-version=1.4 \
  -- \
  --output_path "${GCS_PATH}/training" \
  --eval_data_paths "${GCS_PATH}/preproc/eval*" \
  --train_data

[2018-09-19 06:09] gogasca commented on #249
Hi @Ankitagupta3988

The `gcloud ml-engine jobs submit training` command is failing when invoking this function:

`dispatch(args, model, cluster, task)`

in the task.py script. This section of the code reads the arguments you just passed.

Questions:

1) If you try with original flowers dataset does it work?
2) When you tried the preprocess jobs with your images. Did you update the eval and train

[2018-09-27 08:07] benlam62 opened #258 "Movielens cloud run model training error with matrix factorization"
When I tried the Movielens sample, the cloud run model training job failed with matrix factorization. The pre-processing step can be run successfully.

The log message is captured as below:

`Hyperparameter Tuning Trial #1 Failed before any other successful trials were completed. The failed trial had parameters: learning_rate=0.20949118997690069, . The trial's error message was: The replica master

[2018-09-27 09:18] kiminh commented on #217
same issue encoutered. Have you solved this issue @lioutasb ?

[2018-09-27 16:34] happyhuman commented on #258
Thanks for reporting the issue. Please allow us some time to look into it and get back to you. In the meantime, if you make any progress in resolving the issue, please provide an update.

[2018-10-01 14:42] joellerena commented on #73
Regards.
I have the same message:
WARNING: tensorflow: path ../external/data/plugin/text/runs not found, sending 404
WARNING: tensorflow: Found more than one graph event per run, or there was a metagraph containing a graph_def, as well as one or more graph events. Overwriting the graph with the newest event.

ipython==5.8.0
matplotlib==2.2.2
numpy==1.15.0
pandas==0.23.3
protobuf==3.6.1
python-date

[2018-10-02 10:55] R-K-H opened #264 "Add additional test.json for each calssification type"
**Is your feature request related to a problem? Please describe.**
Did the census qwiklabs and was a bit frustrated that there wasn't an example to test out both the classifications. Eg. the one in the test json was only classified as 0.

**Describe the solution you'd like**
I'd like a few examples which have different classification.

**Key technologies to include**
* Workflow (Training, Serving,

[2018-10-03 14:38] lokeshsoni opened #265 "Flowers update to latest tensorflow"
Please update the flowers code to support all the latest libraries! The code when run in the same environment as prescribed throws an error on DataFlow console.

[2018-10-03 14:50] lokeshsoni commented on #243
![image](https://user-images.githubusercontent.com/27202916/46418557-a6379280-c749-11e8-9782-f5a0133ca855.png)

Following the code as it is, is giving error on the Dataflow console
Please re-check the code as its updated months back!
Not able to follow the same

[2018-10-05 05:56] gogasca commented on #265
@lokeshsoni thanks for contacting us, we will be updating our examples in the next coming weeks. I will update this thread. In the meantime, please take a look at existing issues, the error you report may be already reported before. (Update Apache Beam version to 2.6.0)

[2018-10-10 17:50] gogasca opened #273 "IMDB Keras example"
**Is your feature request related to a problem? Please describe.**
Provide a template for Binary classification

**Describe the solution you'd like**
Use Keras and CMLE

**Key technologies to include**
* Workflow (Training, Serving, Complete Guide): Training
* ML Engine specfic features (CPU, GPU, HP Tuning, TPU): CPU
* Framework (Tensorflow, Keras, scikit-learn, XGBoost, ...): Keras
* Model: bina

[2018-10-10 17:52] gogasca opened #274 "MNIST Fashion with Keras and CMLE"
**Is your feature request related to a problem? Please describe.**
Need an Image classification example with Keras and CMLE

**Describe the solution you'd like**
Use MNIST Image classification

**Key technologies to include**
* Workflow (Training, Serving, Complete Guide): Training
* ML Engine specfic features (CPU, GPU, HP Tuning, TPU): CPU
* Framework (Tensorflow, Keras, scikit-learn, XGBoost, .

[2018-10-10 17:55] gogasca opened #275 "Regression example with Keras"
**Is your feature request related to a problem? Please describe.**
Provide a Regression example with Keras

**Describe the solution you'd like**
Boston dataset using Keras and CMLE

**Key technologies to include**
* Workflow (Training, Serving, Complete Guide): Training
* ML Engine specfic features (CPU, GPU, HP Tuning, TPU): CPU
* Framework (Tensorflow, Keras, scikit-learn, XGBoost, ...): Keras
*

[2018-10-11 07:54] jennings1716 opened #278 "How to convert this code for multi-label classification?"
Is that possible to convert this model into a multi-label classification?I want to different classes to report their probability(Eg: A class - 80.99, B class - 93.99, C class - 87.99)

[2018-10-11 18:58] davisking opened #279 "Example showing use of a custom op using CUDA"
Is it possible to use custom tensorflow ops with ML engine?  In particular, what is the procedure to include a custom op that uses CUDA?

As a specific example, it would be great to have a complete example that showed how to train a simple model on ML engine that contained this custom cuda op: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/adding_an_op/cuda_op_kernel.cc.

[2018-10-12 05:31] jennings1716 opened #280 "Error in Preprocessing"
Got Error in running
python trainer/preprocess.py \

Error is
/usr/local/lib/python2.7/dist-packages/apache_beam/io/gcp/gcsio.py:176: DeprecationWarning: object() takes no parameters
  super(GcsIO, cls).__new__(cls, storage_client))
Traceback (most recent call last):
  File "trainer/preprocess.py", line 490, in <module>
    main(sys.argv[1:])
  File "trainer/preprocess.py", line 486, in main
    r

[2018-10-12 15:27] jennings1716 commented on #278
Could someone help ??

[2018-10-13 02:10] jennings1716 commented on #278
Hi @gogasca I want to change the classification model for flowers dataset to multi-label classification.I have changed the final softmax layer to sigmoid layer.Yet it seems to change labels to onehotencoding.I have no idea where to change.

[2018-10-13 04:30] puneith commented on #67
@andrewm4894 Have you tried to update TF and TFT versions? @elmer-garduno do you have thoughts here?

[2018-10-13 04:40] puneith commented on #159
@andrewm4894 looks like checkpoint dir path isn't provided?

[2018-10-13 04:47] puneith commented on #175
@bobleegogogo can you please open an SO post on this and link this issue. The issue reported here is not for repo samples and so should be discussed on SO. I'm closing this issue.

[2018-10-13 04:47] #175 closed

[2018-10-13 04:48] puneith commented on #88
@jcomfort4 the PR above is merged and works. Closing this issue.

[2018-10-13 04:48] #88 closed

[2018-10-13 04:52] puneith commented on #179
@khorsandi2014 can you look into solution from @aawgit and see if it works. Feel free to open an SO post and link this issue, if still unsolved. The issue is reported against object recognition API, so belongs on SO.

[2018-10-13 04:52] #179 closed

[2018-10-13 04:52] puneith commented on #184
@happyhuman ping on this issue.

[2018-10-13 04:56] puneith commented on #210
@gogasca can you add keras test in this file https://github.com/GoogleCloudPlatform/cloudml-samples/blob/master/census/sample.sh The change should be straightforward (similar to TF). We can merge @nwandabridges PR once we have Keras test.

[2018-10-13 04:57] puneith commented on #185
@sirtorry does this need to be resolved?

[2018-10-13 04:58] puneith commented on #215
@thedriftofwords can we open docs bug and close this issue.

[2018-10-13 04:59] puneith commented on #217
@kiminh @lioutasb see my comment above, can you confirm?

[2018-10-13 05:02] puneith commented on #280
@jennings1716 which code are you running?

[2018-10-13 05:07] puneith commented on #278
@jennings1716 see this line https://github.com/GoogleCloudPlatform/cloudml-samples/blob/master/flowers/trainer/model.py#L269 which computes argmax. You need to remove argmax so that max probability class label is not reported, and probabilities are reported instead.

[2018-10-13 05:13] puneith commented on #258
@benlam62 did you change versions in setup.py?

[2018-10-13 05:46] sirtorry commented on #185
it needs to be worked on. it'll take a few mins but keeps escaping me.

[2018-10-13 09:52] jennings1716 commented on #278
[7.799568768618315e-10, 5.413010040200561e-10, 1.6661587665112165e-08, 4.89881024634542e-09, 1.411282681829107e-07, 9.827594737998879e-08, 1.2115825143155234e-07, 1.8789449995892937e-08, 6.705686672603406e-08, 1.0478414225190136e-07, 1.050282662617974e-05, 1.1320223336497293e-07, 6.65690365053706e-08, 5.1431349845643126e-08, 4.839898338104831e-06, 0.16670562326908112, 1.0286857587971099e-08, 4.848

[2018-10-13 10:53] ksalama commented on #278
@jennings1716 - For multi-label classification, you need to replace the **softmax** with a **sigmoid** activation. With sigmoid, each output will have a value between 0 and 1, unlike softmax that makes the sum of all the outputs equals to 1.

[2018-10-13 11:01] jennings1716 commented on #278
Got..the required result...Just changed from tf.nn.softmax to tf.nn.sigmoid and removed the argmax as @puneith  suggested.Thanks.

[2018-10-13 11:03] #278 closed

[2018-10-14 11:48] #280 closed

[2018-10-15 21:02] gogasca commented on #210
Sounds good! I will add the example.

[2018-10-16 04:33] gogasca opened #281 "Notebooks not loading"
**Describe the bug**
New notebooks not loading in Github.

https://screenshot.googleplex.com/0Hz45Wk0DVj

**What sample is this bug related to?**

**Source code / logs**

**To Reproduce**
Steps to reproduce the behavior:
1.  Using Chrome 69.0
2. Click on Notebook
3. Gets error "Sorry something went wrong Reload?"

**Expected behavior**
Load Notebook

[2018-10-16 21:03] dizcology commented on #281
Seems to work on both nbviewer and Colab.

https://nbviewer.jupyter.org/github/GoogleCloudPlatform/cloudml-samples/blob/master/census/estimator/trainer/task.ipynb

Perhaps an issue on GitHub's side.

[2018-10-17 04:12] dizcology commented on #281
Appears to be a temporary thing.  As of now this notebook is rendered correctly on GitHub: https://github.com/GoogleCloudPlatform/cloudml-samples/blob/master/census/customestimator/trainer/task.ipynb

[2018-10-17 04:12] #281 closed

[2018-10-17 22:07] lesterlitch commented on #258
I have the same error.

[2018-10-18 04:40] lesterlitch commented on #201
It would be really great to update these - the workflows are significantly different from many data science python workflows (pandas, keras, jupyter etc.), so could really use some worked examples to dev off.

[2018-10-19 05:20] dizcology opened #283 "data file too large"
The IMDB data is rather large (32 mb of .pkl).  Instead of having the user clone the repo and then upload the data to GCS (https://github.com/GoogleCloudPlatform/cloudml-samples/tree/master/imdb#upload-the-data-to-a-google-cloud-storage-bucket), let's move the data on the publicly accessible bucket.

[2018-10-19 06:09] gogasca commented on #283
Completed.

[2018-10-19 06:09] #283 closed

[2018-10-19 06:10] #273 closed

[2018-10-22 07:51] cclauss opened #287 "Python 3 compatibility issues"
[flake8](http://flake8.pycqa.org) testing of https://github.com/GoogleCloudPlatform/cloudml-samples on Python 3.7.1

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]

[2018-10-24 00:06] jcomfort4 commented on #14
@rajivpb the sample you have pointed to seems to have been deprecated: https://github.com/GoogleCloudPlatform/cloudml-samples/blob/master/iris/preprocess.py#L110

Is there a more recent example that is not deprecated that would demonstrate the best way to perform this behavior or more up to date bes tpractices?

[2018-10-24 03:16] #250 closed

[2018-10-24 05:33] cclauss commented on #287
The results of the flake8 command are identical on Python 3.6...  As the title says, these are Python 3 compatibility issues.

[2018-10-30 07:22] Aastha-Singh opened #291 "Unable to get "OBJECTIVE_VALUE" while performing Hyperparameter Tuning in CloudML"
**Error explained:**
Trying to run hyperparameter tuning in CloudML for the following values: _(maxTrials: 25, maxParallelTrials: 5)_. I can see that status for the tuning is green (successful). But there is no "OBJECTIVE_VALUE" in the Training output. Hence I am unable to find out which trial is the best one to choose.

Bug is related to Hyperparameter Tuning in CloudML.

**Observation:**
If I ch

[2018-10-31 07:01] #287 closed

[2018-10-31 07:55] cclauss opened #294 "Python 3 compatibility issues (again)"
#287 was closed a bit too soon...

__lambda (x, y): x__ is a syntax error in Python 3 but __lambda x, y: x__ is not.

[flake8](http://flake8.pycqa.org) testing of https://github.com/GoogleCloudPlatform/cloudml-samples on Python 3.7.1

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]

[2018-10-31 18:07] gogasca commented on #294
@cclauss thanks for reporting the issue again. Would you be fine submitting a new PR for this?
Thanks for your contributions.

[2018-10-31 18:09] gogasca commented on #291
@Aastha-Singh thanks for reporting this issue, are you using any of the samples datasets in this folder?

We will be happy to see if we can reproduce the issue. Can you share?
-TF version
-CMLE version
-Dataset information
-Model information

Any other info which can help us troubleshoot/debug this problem will be helpful.

Thanks

[2018-11-08 23:42] #275 closed

[2018-11-08 23:42] #274 closed

[2018-11-13 23:01] sirtorry commented on #185
@happyhuman would you be willing to take this. would be nice if we used xgboost's built-in evaluator rather than what's done here.

[2018-11-14 05:32] ssimontacchi commented on #40
same problem:
gcloud ml-engine jobs submit training object_detection_`date +%s` \
    --job-dir=gs://{YOUR_GCS_BUCKET}/train \
    --packages dist/object_detection-0.1.tar.gz,slim/dist/slim-0.1.tar.gz,cocoapi/pycocotools-2.0.tar.gz \
    --module-name object_detection.train \
    --region us-east1 \
    --config cloud.yaml \
    -- \
    --train_dir=gs://{YOUR_GCS_BUCKET}/train \
    --pipeline_co

[2018-11-14 09:13] deramos opened #307 "Code "flowers" example using other architectures"
**Update the flower example to use other architectures.**
Example, Resnet, Inception_resnet, Mobilenet, Nasnet

[2018-11-14 09:42] deramos opened #308 "I can't get "flowers" to work with inception resnet architecture"
**I can't get flowers example to run using inception resnet**
I ran the "flower" code as it is (inception v3) using a custom dataset, and it worked. Now, I modified the code to use the same custom dataset and inception resnet architecture. It didn't work. I was having an apache beam problem in the preprocessing stage. I am using the following versions

`tensorflow == 1.11.0
apache-beam == 2.8.0
go

[2018-11-15 06:12] gogasca commented on #291
@Aastha-Singh looking to see if you still need help? We are interested in getting some extra details. Thanks

[2018-11-15 13:41] Aastha-Singh commented on #291
@gogasca  thanks for helping me out. But I have found the solution to the problem.
Looks like scale-tier is to be changed from BASIC to STANDARD_1 as I increase the number of parallel batches.
Solved.

[2018-11-15 13:41] #291 closed

[2018-11-19 18:49] davidcavazos commented on #308
I believe the problem is that it's using `--extra_package custom-code-0.1.tar.gz` is installing a package named `custom-code`, so `inception_resnet_v2` is still not found. If you have multiple dependencies, as modules in different directories, it might be easier to try the `setup.py` approach. That way it can discover all the packages that live in your working directory and create the egg files fo

[2018-11-20 00:22] puneith opened #311 "Add gcloud test for Census on CMLE"
The kokoro sample script only tests local version. It will be great to add entry for running same tests on CMLE using gcloud.

https://github.com/GoogleCloudPlatform/cloudml-samples/blob/master/census/sample.sh

[2018-11-20 00:49] gogasca commented on #265
I submitted a PR #312 which updates to latest CMEL supported version: 1.10

[2018-11-20 00:49] #265 closed

[2018-11-20 18:39] puneith commented on #159
@andrewm4894 Closing this issue due to inactivity. Please feel free to re-open or file another issue.

[2018-11-20 18:39] #159 closed

[2018-11-20 22:42] gogasca commented on #243
@lokeshsoni Looks like the error is related to your Notebook configuration. Flowers code has been updated to latest supported CMLE version TF 1.10. Looks like you error is referring to: https://stackoverflow.com/questions/45179915/importerror-no-module-named-ipython

[2018-11-21 05:42] PicarusW opened #314 "Training step for Criteo_tft example does not work on google cloud"
**Describe the bug**
I am running the Criteo example, documented[ here](https://cloud.google.com/blog/products/gcp/using-google-cloud-machine-learning-to-predict-clicks-at-scale). I can run the preprocess step fine but when trying to run the training step (linear model fails) running on Google Cloud I get the following errors:

the error message in Google ML engine is:
 load raise ImportError("%r

[2018-11-21 08:41] deramos commented on #308
@davidcavazos
Thanks for your reply. However, I don't think that's the case. The tar file is `custom_code-0.1.tar.gz` which installs a package named `custom_code`. Then from my code, I did `from custom_code import inception_resnet_v2`, and I get the error `No module named 'custom_code'`. If I do `pip install custom_code-0.1.tar.gz` on my local computer, the package installs successfully with a pac

[2018-11-26 01:37] dizcology commented on #314
Hi @PicarusW Thank you for reporting the issue.  This seems to be a dependency issue on Cloud ML Engine.  Could you try to run the same training job specifying the most recent runtime version by adding the `--runtime-version=1.10` flag.

[2018-11-26 02:37] PicarusW commented on #314
I have run the test you request. I had  already tried that with different runtime versions.
Based on a bit of research it seems  it could be related to tensorflow_transform version incompatibilities. Have you tried to run it successfully?

[2018-11-26 07:00] gogasca commented on #314
@PicarusW I saw your PR, were you able to make it work after adding the import statement? Please let me know otherwise I will try to validate it tomorrow in office.

[2018-11-26 21:13] fprost opened #315 "Add a simple Dataflow example for census estimator."
I would like to add to a Dataflow pipeline for the estimator/ folder of census.

This pipeline would be relatively simple:
- Create a source to read the input csv.
- Split the csv into train/eval/test.
- Write back to csv (or tf-records).

The goal here is to demonstrate the basic Dataflow functionalities and highlight the typical code structure.

[2018-11-26 22:14] PicarusW commented on #314
@gogasca , the PR is for the preprocessing step. Unrelated to this issue as it happens in a previous execution step.

[2018-11-27 17:09] happyhuman commented on #315
Thank you for your idea. We welcome such feature requests. Would you like to implement it and submit a Pull Request for a review and merge?

[2018-11-27 17:13] fprost commented on #315
Absolutely, I will submit one soon.

Do you prefer 1 final submission or incremental improvements?

[2018-11-27 21:45] gogasca commented on #315
@fprost Incremental PR may be a better idea.

[2018-11-27 22:34] picarus commented on #314
@dizcology , @gogasca , any hints on how to solve or workaround the problem while the refresh happens? have you been able to execute it?

[2018-11-27 22:44] gogasca commented on #314
@PicarusW I assume you are using a virtualenv, I have seen that error related to old setup tools version, but looks like you are running latest 40.6.2, what pip version are you using? In this case error seems to be unrelated to ML code but more on the environment, I will give it a try in lab and update you.

[2018-11-28 03:09] picarus commented on #314
I am using pip 18.1 with python 2.7 (as transform does not support python 3) But if I understand correctly the command is not executed locally but in the ML Engine instance. Is that correct?

[2018-11-28 05:05] gogasca opened #317 "Add a RL sample for Cloud AI Blog"
**Is your feature request related to a problem? Please describe.**
RL for Blog

**Describe the solution you'd like**

**Key technologies to include**
* Workflow (Training, Serving, Complete Guide):
* ML Engine specfic features (CPU, GPU, HP Tuning, TPU):
* Framework (Tensorflow, Keras, scikit-learn, XGBoost, ...):
* Model:
* Dataset:

**Additional context**

[2018-11-28 07:33] gogasca commented on #314
@picarus that is correct, the package setup happens in Cloud ML Engine.
I took a look at the README.md again:
Our requirements.txt specifies TF 1.3 which is quite outdated.
When running in Cloud I use: 1.4 as 1.3 is not supported.

https://cloud.google.com/ml-engine/docs/tensorflow/runtime-version-list#1.4
When we don't pass a parameter by default we use TF 1.0

Next steps:
Google team to update s

[2018-11-28 23:37] PicarusW commented on #314
Well, now the job completes successfully.
It was a matter of
Using runtime-version=1.4 as parameter,
changing the requirements.txt to use tf 1.4 (not sure if that is redundant), I am a bit confused with the local and cloud execution.
And then some parameters had to be added (compared to the blog post), your sample code was enough.
It took just 10 mins to execute with the small configuration.

Whil

[2018-11-28 23:59] gogasca opened #319 "Update Criteo_TFT to TF 1.10+."
Update Criteo_TFT to TF 1.10+.
Relate to #314

[2018-11-29 00:01] gogasca commented on #314
@PicarusW we describe 2 modes in this configuration, local and CMLE:

Local (python -m trainer.task or gcloud ml-engine local train) will use the requirements.txt and the information in setup.py to build the package and execute the training job locally (Your Laptop/VM where code is executing).
In CMLE mode (gcloud ml-engine jobs submit training) we build the infrastructure required to run your job

[2018-11-29 00:53] gogasca opened #320 "Verify scikit-learn sample works in Python 3.5"
https://github.com/GoogleCloudPlatform/cloudml-samples/tree/master/sklearn

Internal reference: b/120086448

[2018-11-29 00:55] gogasca opened #321 "Verify XGBoost work in Python 3.5"
https://github.com/GoogleCloudPlatform/cloudml-samples/tree/master/xgboost

Internal reference: b/120086448

[2018-11-29 02:21] PicarusW commented on #314
That makes sense, confirms my intuition.

Can you give a try to the deep model?
I am trying to use Adanet, so this is the one I want to take as baseline for my work.

For me it is failing with this logs in Logs View:

Invalid argument: Nan in summary histogram for: dnn/dnn/hiddenlayer_0_activation

And these error messages on ML engine:

The replica worker 5 exited with a non-zero status of 1. Ter

[2018-11-29 05:20] gogasca commented on #317
PR: https://github.com/GoogleCloudPlatform/cloudml-samples/pull/318

[2018-11-29 05:52] #243 closed

[2018-11-29 05:53] gogasca commented on #249
@Ankitagupta3988 will close this issue, feel free to reopen it if you still need help with this problem.

[2018-11-29 05:53] #249 closed

[2018-11-30 07:51] picarus opened #325 "Migrating criteo_tft to latest version:"
**Is your feature request related to a problem? Please describe.**
I am having issues when running a piece of code using the Criteo data generated from the Criteo tft preprocess step into a piece of code I have written and that uses a newest version of tf and tft.

**Describe the solution you'd like**
I would appreciate someone can give some help on the process.

This is my input_fn function:

[co

[2018-11-30 08:08] gogasca commented on #314
I saw the same error, when reproducing in a different sample, (TF 1.4) will take a look and get back to you. Seems to be a problem in running configuration.

[2018-12-01 00:08] happyhuman commented on #325
Hi. Thanks for opening the issue. Based on your description, it seems your question is mostly a tensorflow related issue, and not a Google Cloud related issue. Is this the case?

[2018-12-03 00:00] picarus commented on #325
I think is an integration problem or a backward compatibility issue, between tft using in the criteo tft preprocess step to create the TFRecordDataset and tft and tf used in my code to read it.

[2018-12-03 19:20] dizcology opened #326 "TPU training template udpate"
Issues to fix:

* [x] Remove Colab specific code from the .py files.
* [x] Remove the `# FIXME` comment.
* [x] Add help to args (maybe only the ones which are not self-explanatory).
* [ ] Test on runtime version 1.10 (the latest on CMLE).
* [ ] Remove dependency on tf.contrib. (might wait until TF 2.0 lands for this.)

[2018-12-03 23:09] happyhuman commented on #325
Since our priority in this repo is to show how to use Google Cloud Platform and its products, we may not be able to address your tensorflow related question in a timely manner. May I suggest that you contact tensorflow support team for your TF related question?

[2018-12-04 20:15] picarus commented on #325
@happyhuman, the dataflow product is made of tf, tft and apache-beam (and probably a few others) so I think the issue is relevant to this group. I am finding very complicated getting anything done within GCP because of many version incompatibilities. Only the tft repo has [info about versions](https://github.com/tensorflow/transform) but then your samples are way behind. I am trying to make adanet

[2018-12-05 16:20] ksachdeva opened #331 "[cenus/keras] - generates tensorflow.python.framework.errors_impl.CancelledError: Session has been closed."
**Describe the bug**
When running the census/keras example I get an exception that the session has been closed.

**What sample is this bug related to?**
cenus/keras

**Source code / logs**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. In cenus/sample.sh only keep `run_script_local keras`
2. ./sample.sh
3. You will see the exception trace  at the end

**Expected behavior**
There sho

[2018-12-05 18:06] happyhuman commented on #331
Thanks for your message. I tried to reproduce the issue you reported. But I was unable to reproduce it. Here are my steps (running on MacOS):
- Create a new virtual environment for python 2.7
- Install all the required libraries: pip install tensorflow pandas keras h5py numexpr future
- Per your suggestion, remove everything else but ```run_script_local keras```
- Run ```./sample.sh```

The code r

[2018-12-05 18:54] gogasca opened #332 "[Census] tensorflowcore error in Python 3.5"
**Describe the bug**
CMLE running Census sample I get error in Python 3.5

**What sample is this bug related to?**

**Source code / logs**
Census model

**To Reproduce**
Steps to reproduce the behavior:
Python 3.5

Python script succeeded!
Cleaning up...
[code]

**Additional context**
Add any other context about the problem here.

[2018-12-05 18:57] gogasca opened #333 "[Census] Estimator not exporting serving function"
**Describe the bug**
Census Estimator not exporting serving function

**What sample is this bug related to?**
Census

**Source code / logs**

[code]

**To Reproduce**
Run Census estimator

**Expected behavior**
A clear and concise description of what you expected to happen.

**System Information**

TF 1.10

[2018-12-05 19:39] ksachdeva commented on #331
Thanks @happyhuman for the quick response

My environment is indeed different from yours. Here are more details -

- OSX 10.13.6
- I am using virtualenv however with python 3.6.6

- Below is the output of the pip list from with in my virtualenv (I checked it is the same as pip freeze)

[code]

[2018-12-07 22:59] #185 closed

[2018-12-10 05:23] hejabvbreus11 opened #336 "ps-replica-0 The scripts cygdb, cython and cythonize are installed in '/root/.local/bin' which is not on PATH."
**Describe the bug**
A clear and concise description of what the bug is. Be sure to convey here whether it occurred locally or on the server (CloudML Engine, Google Dataflow)

Im using ubuntu 16.04 and python 2.7.12 with Tensorflow 1.12.0 . I got this error log in the first place followed by ps-replica-0 Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-wa

[2018-12-10 17:30] nnegrey commented on #336
Hi, what sample is this related to?

[2018-12-11 14:43] GaelFoex commented on #67
As of December 2018, I can confirm that @lakshmanok approach with @dawu76 serving_input_fn() works. Thanks for the help!

[2018-12-11 23:47] nnegrey commented on #317
Fixed?

[2018-12-12 16:50] nnegrey commented on #336
Hi, any updates on this? Thanks!

[2018-12-12 16:51] hejabvbreus11 commented on #336
Hi, actually I am following this sample:
https://medium.com/coinmonks/modelling-transfer-learning-using-tensorflows-object-detection-model-on-mac-692c8609be40

[2018-12-12 17:07] nnegrey commented on #336
Ah, I'm not familiar with that sample or the steps involved.

But for Object Detection I do know of 2 blogs that have a similar flow, but slightly different from that one:
1. https://medium.com/tensorflow/training-and-serving-a-realtime-mobile-object-detector-in-30-minutes-with-cloud-tpus-b78971cf1193
2. https://towardsdatascience.com/build-a-taylor-swift-detector-with-the-tensorflow-object-detect

[2018-12-12 17:11] hejabvbreus11 commented on #336
Yes, I also go through the two blogs you mention. Their flow is  similar and I am just stuck at last step-submit my training task to GCP.

[2018-12-12 17:13] hejabvbreus11 commented on #336
I also checked several issue threads here such as https://github.com/tensorflow/models/issues/3470

[2018-12-12 17:36] nnegrey commented on #336
Did you complete this step?
```export PYTHONPATH=$PYTHONPATH:`pwd`:`pwd`/slim```

[2018-12-12 21:16] #317 closed

[2018-12-13 00:37] hejabvbreus11 commented on #336
Yes I follow https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/installation.md
and I can run the model_builder_test.py

[2018-12-13 17:42] nnegrey commented on #336
And all the steps in this one too?
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_cloud.md

[2018-12-19 18:00] nnegrey commented on #336
Hi, gonna close this issue for now, please feel free to reopen the issue if you are still having trouble. Thanks.

[2018-12-19 18:00] #336 closed

[2018-12-21 13:13] wenfuli commented on #225
I got this error too, anyone got a solution?

[2018-12-25 14:59] sreenivasmr opened #344 "Unable to run on Nvidia v100"
**Describe the bug**
I am running the sample on CMLE by changing the
    'use_tpu', default=True,
to
    'use_tpu', default=False,

flags.DEFINE_string(
    'data_format', default='channels_last',
to
flags.DEFINE_string(
    'data_format', default='channels_first',

in resnet_main.py  assuming the code will run successfully on GPUs, with the below config

trainingInput:
  scaleTier: CUSTOM
  maste

[2018-12-26 06:31] sirtorry commented on #344
@dizcology do you know which resolver needs to be used.
@sreenivasmr can you provide more info on which sample this is?